/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Fjalla+One|Permanent+Marker|Roboto:100,300,400,900");
@import url("https://fonts.googleapis.com/css?family=Maven+Pro&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

p, a, span, body, html, h1, h2, h3, h4, li {
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.2; }

/**
Fonts - 
Roboto | Permanant Market | Fjalla One
font-family: 'Roboto', sans-serif;
font-family: 'Fjalla One', sans-serif;
font-family: 'Permanent Marker', cursive;
*/
* {
  box-sizing: border-box; }

.group:after {
  content: "";
  display: table;
  clear: both; }

.z2 {
  z-index: 2; }

.z3 {
  z-index: 3; }

p {
  margin: 0 0 15px;
  line-height: 1.5; }

em {
  font-style: italic;
  color: #343434; }

strong {
  font-weight: 500; }

.half-inline-block {
  width: 47%;
  display: inline-block; }

.red-background {
  background: red; }

.half-h-case {
  height: 47.8%; }

.third-h-case {
  height: 31.2%; }

.half-w {
  width: 49%; }

.case-margin {
  margin-bottom: 2%; }

.wrapper {
  width: 100%;
  margin: 0 auto; }

.page.wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 50px; }
  .page.wrapper h1, .page.wrapper h2, .page.wrapper h3, .page.wrapper h4 {
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: -1px;
    color: #333;
    margin: 0 0 3px 0; }
  .page.wrapper h1 {
    font-size: 18pt;
    margin: 0 0 20px; }
  .page.wrapper h1 span {
    font-weight: 100; }

.graphic.placeholder {
  width: 40%;
  background: #787878;
  min-height: 250px; }

.graphic.image {
  max-width: 70%;
  max-height: 500px;
  transition: all 500ms ease-in-out;
  left: 15%;
  position: relative;
  top: -2.5vw; }
  .graphic.image.active {
    filter: grayscale(0); }
  .graphic.image#dots {
    width: 35vw;
    max-width: 500px;
    top: -6vw;
    /* bottom: 1vh; */
    left: 8vw;
    position: absolute; }

.ctas {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#787878+0,333333+100 */
  position: relative;
  overflow: hidden;
  margin: 115px auto 50px;
  height: 90vh;
  background: white; }
  .ctas .cta .banner-text-wrapper {
    position: relative;
    width: 100%;
    top: 19%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    height: 95%;
    background: url("../../img/homepage/banner-pic.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
    .ctas .cta .banner-text-wrapper h2 {
      font-size: 5.55vw;
      margin-top: 10vh;
      font-weight: 500; }
    .ctas .cta .banner-text-wrapper h3 {
      font-size: 3.705vw;
      font-weight: 500; }
    .ctas .cta .banner-text-wrapper h4 {
      font-size: 3.15vw; }
    .ctas .cta .banner-text-wrapper .message {
      z-index: 10;
      bottom: 30%;
      padding: 1vh;
      box-sizing: border-box;
      color: #fff; }
      .ctas .cta .banner-text-wrapper .message .highlight {
        font-family: 'Fjalla One', sans-serif;
        text-transform: uppercase;
        background: #333;
        color: #fff;
        padding: 5px 10px; }
    .ctas .cta .banner-text-wrapper .action {
      margin: 3vh 0 0 0;
      padding: 2vh 6.5vw;
      background-color: #3eb5a9;
      color: white;
      cursor: pointer;
      color: #eee;
      text-decoration: none;
      font-size: 1.85vw;
      font-family: 'Fjalla One', sans-serif; }
    .ctas .cta .banner-text-wrapper .arrow-cta {
      position: absolute;
      bottom: 12%;
      width: 4vw;
      height: 4vw;
      display: flex;
      justify-content: center;
      align-items: center;
      background: white;
      box-shadow: 0 0 10px #7e7e7e; }
      .ctas .cta .banner-text-wrapper .arrow-cta img {
        height: 1.5vw;
        width: 0.65vw; }
  .ctas .cta.active .message {
    right: 1%; }
  .ctas #flare {
    position: absolute;
    z-index: 5; }

#footer {
  background: #333;
  height: 35px; }

.shade {
  position: fixed;
  top: -110%;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  z-index: 100;
  transition: top 500ms ease-in-out; }
  .shade.active {
    top: 0; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #fff; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #fff; }

footer#footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: unset; }
  footer#footer p {
    display: inline;
    margin: 0;
    padding: 3vh 3vw;
    color: white; }

header {
  position: fixed;
  background: rgba(255, 255, 255, 0.9);
  margin: 0px;
  z-index: 11;
  width: 100%;
  min-height: 198px;
  box-sizing: border-box;
  opacity: 1;
  border-bottom: 1px solid #fff;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3); }
  header .nav-toggle {
    visibility: hidden; }
  header .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 3vh auto;
    box-sizing: border-box; }
  header .logo {
    text-decoration: none;
    color: #000;
    margin: 10px 0 0px; }
    header .logo:hover {
      color: #000; }
  header h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 3.88vw;
    text-transform: uppercase;
    width: 26vw;
    letter-spacing: -4px;
    line-height: 0.9; }
    header h1 span:first-child {
      font-family: 'Fjalla One', sans-serif;
      color: #0036bf;
      line-height: 0.9; }
    header h1 span.tagline {
      display: block;
      font-family: 'Permanent Marker', cursive;
      font-size: 2.15vw;
      line-height: 0.9; }
  header ul.nav {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    z-index: 50;
    justify-content: space-between;
    min-width: 285px;
    width: 19.7vw; }
    header ul.nav li {
      position: relative; }
      header ul.nav li a {
        text-decoration: none;
        color: #333;
        font-size: 1.65vw;
        font-weight: 100;
        border-bottom: 1px solid transparent;
        display: block;
        font-family: 'Fjalla One', sans-serif;
        text-transform: uppercase; }
        header ul.nav li a:last-child {
          margin-right: 0; }
        header ul.nav li a:hover {
          color: #000;
          border-color: #3eb5a9; }
      header ul.nav li.dropdown ul {
        position: absolute;
        width: 325px;
        left: -110px;
        display: none; }
        header ul.nav li.dropdown ul li:first-child {
          padding-top: 10px; }
        header ul.nav li.dropdown ul li:last-child a {
          padding-bottom: 15px; }
        header ul.nav li.dropdown ul li a {
          font-size: 1.3vw;
          background: rgba(255, 255, 255, 0.95);
          display: block;
          text-align: center;
          padding: 7px;
          box-sizing: border-box; }
          header ul.nav li.dropdown ul li a:hover {
            border-color: transparent;
            transform: none;
            background: #3eb5a9;
            color: #fff;
            font-weight: 400; }
      header ul.nav li.dropdown:hover ul {
        display: block; }
      header ul.nav li.get_in_touch a {
        font-size: 12pt;
        display: inline-block;
        background: #0036bf;
        color: #fff;
        padding: 0 20px;
        margin: 0; }
        header ul.nav li.get_in_touch a:hover {
          transform: none;
          border: none; }

@media only screen and (max-device-width: 1439px) and (min-device-width: 1023px) {
  header.group {
    min-height: 150px; }
  .home section.ctas {
    margin: 150px 0 0 0; } }

@media only screen and (max-device-width: 1921px) and (min-device-width: 1441px) {
  header.group {
    min-height: 198px; }
  .home section.ctas {
    margin: 227px 0 0 0; } }

.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column; }
  .container .infoBar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin: 0px;
    padding: .7vh 1vw .7vh;
    z-index: 12;
    box-sizing: border-box;
    background-color: black; }
    .container .infoBar p {
      color: white;
      margin: 0 6.5vw 0 0.5vw;
      font-weight: 500;
      font-family: 'Maven Pro', sans-serif;
      font-size: 18px; }
    .container .infoBar .links {
      display: flex; }
      .container .infoBar .links li {
        margin: 0 1vw 0 0; }
        .container .infoBar .links li a {
          display: block;
          color: #fff;
          font-size: 1.2vw; }
    .container .infoBar .review-us {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 17%;
      min-width: 280px;
      margin-left: 2.5%;
      color: #fff; }
      .container .infoBar .review-us span {
        margin: 0 2% 0 0;
        text-transform: uppercase;
        font-size: 2vw; }
      .container .infoBar .review-us ul {
        display: flex;
        flex-direction: column;
        min-width: 95px; }
        .container .infoBar .review-us ul li.google {
          border-bottom: 1px dotted rgba(255, 255, 255, 0.5); }
          .container .infoBar .review-us ul li.google a:hover {
            background: #fc524f; }
        .container .infoBar .review-us ul li.next-door a:hover {
          background: #00B246; }
        .container .infoBar .review-us ul li a {
          display: block;
          padding: 5px 5%;
          color: #fff;
          text-transform: capitalize; }

.band {
  overflow: hidden; }
  .band .wrapper {
    width: 100%;
    margin: 20px auto;
    padding: 0 10px;
    display: flex;
    justify-content: space-between; }
    .band .wrapper .message {
      position: relative;
      width: 60%;
      font-size: 1.65vw;
      margin-right: 10%; }
      .band .wrapper .message p {
        font-weight: 100; }
      .band .wrapper .message h2, .band .wrapper .message h2 p {
        font-family: 'Permanent Marker', cursive;
        font-size: 29pt; }
      .band .wrapper .message h2 {
        color: #0036bf;
        margin: 0 0 20px 0;
        font-size: 27pt; }
      .band .wrapper .message h2 span {
        color: #333;
        font-weight: 100;
        font-size: 24pt; }
  .band.blue {
    color: #fff;
    background: #0036bf; }
    .band.blue .message h2 {
      color: #fff; }
  .band.white .message h2 p {
    background: #0036bf;
    color: #fff; }
  .band.band1 .wrapper {
    margin: 10px auto 0;
    padding: 0 20px;
    box-sizing: border-box;
    flex-direction: column; }
    .band.band1 .wrapper h2 {
      font-family: 'Permanent Marker', cursive;
      font-size: 22pt;
      margin: 7px 0 12px; }
  .band.band1 .message p {
    font-weight: 100; }
  .band.band1 .message h2 p {
    margin-top: 2px;
    padding: 5px 0 5px 0px;
    text-align: center; }
  .band.band2 .wrapper > .read-more {
    max-width: 40%;
    max-height: 250px;
    margin: 0 5% 0 0; }
    .band.band2 .wrapper > .read-more img {
      width: 100%;
      margin: none;
      max-width: none;
      max-height: none; }
  .band.band3 {
    display: flex;
    margin: 0 0 50px;
    width: 100%; }
    .band.band3 .wrapper {
      width: 100%;
      justify-content: space-around; }
    .band.band3 .message {
      margin-right: 0;
      width: 100%;
      display: flex;
      align-content: space-around;
      justify-content: space-around; }
      .band.band3 .message h4 {
        font-family: 'Permanent Marker', cursive;
        font-size: 33pt;
        margin: 0 0 15px 0; }
      .band.band3 .message p {
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        border-bottom: 1px dotted;
        padding-bottom: 4px; }
  .band .read-more.btn {
    background: #4A4A4A;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    position: absolute;
    font-size: 10pt;
    bottom: 15px;
    right: 15px;
    line-height: 1;
    font-family: 'Open Sans', sans-serif; }
  .band .quick-contact {
    width: 40%; }
    .band .quick-contact form .close {
      font-size: 14pt;
      color: red;
      position: absolute;
      right: 20px;
      top: 5px;
      z-index: 115; }
      .band .quick-contact form .close:hover {
        cursor: pointer; }
    .band .quick-contact form input, .band .quick-contact form textarea {
      background: #0431a1;
      width: 100%;
      margin: 0 0 7px;
      font-size: 12pt;
      padding: 10px;
      color: #fff;
      border: none; }
      .band .quick-contact form input:focus, .band .quick-contact form textarea:focus {
        outline: 2px solid #0036bf; }
      .band .quick-contact form input[type='submit'], .band .quick-contact form textarea[type='submit'] {
        background: #fff;
        color: #0036bf;
        border: none;
        padding: 7px 0; }
        .band .quick-contact form input[type='submit']:hover, .band .quick-contact form textarea[type='submit']:hover {
          cursor: pointer; }
    .band .quick-contact .success-msg {
      display: none; }

section.grey {
  background: #f8f8f8;
  margin-top: 10%;
  max-height: 530px;
  position: relative; }
  section.grey div {
    height: 530px; }
  section.grey #grey-wrapper {
    width: 100%;
    margin: 0 auto; }
  section.grey #cta2-text-wrapper {
    position: absolute; }
  section.grey .message {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    section.grey .message h2 {
      margin-bottom: 2vw;
      font-size: 2.95vw; }
      section.grey .message h2 span {
        display: block; }
    section.grey .message p {
      margin-bottom: 2vw;
      font-size: 1.12vw; }
    section.grey .message span {
      font-weight: 500; }
    section.grey .message .read-more {
      display: inline-block;
      width: 15vw;
      height: 3.5vw;
      background: #3eb5a9;
      color: white;
      text-align: center;
      font-size: 1.65vw;
      font-weight: 400;
      line-height: 3.5vw;
      font-family: 'Fjalla One', sans-serif; }

section h3.section-title {
  font-family: 'Fjalla One', sans-serif;
  font-size: 3.35vw;
  text-align: center;
  font-weight: 500; }

#case-studies {
  height: 60vw; }
  #case-studies h3#case-studies-title {
    text-align: center;
    font-weight: 500;
    margin-top: 11vw;
    margin-bottom: 4vw;
    display: block; }
  #case-studies .case-study-text {
    position: relative;
    top: -6.5vw;
    padding: 0% 0 0 5%;
    color: white; }
  #case-studies p.case-study-text {
    display: block;
    font-size: 1.25vw;
    width: 55%;
    line-height: 1.3;
    position: absolute;
    bottom: 0;
    top: unset; }
  #case-studies h3.case-study-text {
    font-size: 1.65vw;
    font-weight: 500; }
  #case-studies .case-studies-wrapper div.case-study:hover a {
    opacity: 1; }
  #case-studies a img {
    opacity: 0;
    transition: opacity 0.65s ease-in-out;
    position: absolute;
    bottom: 1.5vw;
    left: 36vw;
    height: 1.05vw;
    width: 2.1vw;
    border: solid 2px white;
    /* padding: 18px 10px; */
    padding: 1.25vw 0.7vw; }
  #case-studies a:hover {
    transform: unset; }
  #case-studies .case-studies-wrapper {
    height: 69%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 7%;
    justify-content: center; }
    #case-studies .case-studies-wrapper .case-link-wrapper {
      position: unset;
      opacity: unset;
      width: 49%; }
      #case-studies .case-studies-wrapper .case-link-wrapper .case-study {
        width: 100%; }
    #case-studies .case-studies-wrapper .case-study {
      position: relative; }
    #case-studies .case-studies-wrapper .duluth-background {
      background: url("../../img/clients/duluth_diner.png");
      background-size: cover; }
    #case-studies .case-studies-wrapper .active-care-background {
      background: url("../../img/clients/active_care_atlanta.png");
      background-size: cover; }
    #case-studies .case-studies-wrapper .atlas-background {
      background: url("../../img/clients/atlas_designs.png");
      background-size: cover; }
    #case-studies .case-studies-wrapper .four-gc-background {
      background: url("../../img/clients/4gc.png");
      background-size: cover; }
    #case-studies .case-studies-wrapper .green-fern-background {
      background: url("../../img/clients/greenfern.png");
      background-size: cover; }
    #case-studies .case-studies-wrapper .overflow-hidden {
      overflow: hidden; }
    #case-studies .case-studies-wrapper .case-overlay {
      height: 100%;
      width: 100%;
      background: linear-gradient(to right, rgba(54, 88, 108, 0.8), rgba(14, 16, 50, 0.8));
      transition: .65s; }
    #case-studies .case-studies-wrapper div.case-study:hover .case-overlay {
      -moz-transform: translate(0px, 55%);
      -ms-transform: translate(0px, 55%);
      -o-transform: translate(0px, 55%);
      -webkit-transform: translate(0px, 55%);
      transform: translate(0px, 55%); }
    #case-studies .case-studies-wrapper div.third-h-case.case-study:hover .case-overlay {
      -moz-transform: translate(0px, 60%);
      -ms-transform: translate(0px, 60%);
      -o-transform: translate(0px, 60%);
      -webkit-transform: translate(0px, 60%);
      transform: translate(0px, 60%); }
    #case-studies .case-studies-wrapper div.case-study:hover img {
      opacity: unset; }
    #case-studies .case-studies-wrapper div.third-h-case p.case-study-text {
      display: block;
      font-size: 0.97vw;
      width: 60%;
      line-height: 1.3;
      position: absolute;
      top: unset;
      bottom: 0; }
    #case-studies .case-studies-wrapper div.third-h-case h3.case-study-text {
      font-size: 1.39vw;
      font-weight: 500; }
    #case-studies .case-studies-wrapper div.third-h-case .case-study-text {
      position: relative;
      top: -4.3vw;
      padding: 0% 0 0 5%;
      color: white; }
    #case-studies .case-studies-wrapper div.third-h-case img {
      position: absolute;
      bottom: 1.1vw;
      left: 36vw;
      height: 0.556vw;
      width: 1.67vw;
      border: solid 0.14vw white;
      padding: 0.97vw 0.42vw; }

section h3.section-title:after {
  background: none repeat scroll 0 0 #3eb5a9;
  bottom: -10px;
  content: "";
  display: block;
  height: 0.25vw;
  position: relative;
  width: 10vw;
  margin: 0 auto; }

@media only screen and (max-device-width: 1921px) and (min-device-width: 1441px) {
  #case-studies .case-study-text {
    top: -6vw; }
  #case-studies .case-studies-wrapper div.third-h-case.case-study .case-study-text {
    top: -6.5vh; }
  #case-studies .case-studies-wrapper div.third-h-case.case-study p.case-study-text {
    top: unset; }
  #case-studies .case-studies-wrapper div.third-h-case.case-study a img {
    top: -1vw; } }

#testimonials-wrapper {
  margin-top: 10vw; }
  #testimonials-wrapper #testimonials-bg-img {
    background: url("../../img/homepage/testimonials-bg.png");
    background-size: cover;
    height: 30vw; }
  #testimonials-wrapper h3 {
    text-align: center;
    font-weight: 500;
    position: relative;
    top: -22vw; }
  #testimonials-wrapper #testimonials {
    position: relative;
    top: -18vw;
    display: flex;
    justify-content: center; }
    #testimonials-wrapper #testimonials div.testimonial-wrapper {
      background: white;
      color: #696969;
      box-shadow: 0 0 20px #e0e0e0;
      height: 100%;
      display: flex;
      width: 40%;
      margin: 0 1.5vw 0.5vw 1.5vw; }
      #testimonials-wrapper #testimonials div.testimonial-wrapper .testimonial-image-wrapper {
        width: 33.33%;
        background: url(../../../img/homepage/worn-dots-testimonials.png);
        background-position: bottom left;
        background-size: 70%;
        background-repeat: no-repeat; }
        #testimonials-wrapper #testimonials div.testimonial-wrapper .testimonial-image-wrapper img.portrait {
          height: 4.5vw;
          width: 4.5vw;
          z-index: 2;
          position: relative;
          top: 35%;
          left: 30%;
          border-radius: 700px; }
        #testimonials-wrapper #testimonials div.testimonial-wrapper .testimonial-image-wrapper img.dots {
          width: 100%;
          height: 100%;
          top: -4.55vw;
          bottom: 0;
          position: relative;
          z-index: 1; }
      #testimonials-wrapper #testimonials div.testimonial-wrapper .testimonial-text-wrapper {
        width: 66.65%;
        padding: 2vh 1.6vw 0.8vh 0;
        position: relative; }
        #testimonials-wrapper #testimonials div.testimonial-wrapper .testimonial-text-wrapper img {
          height: 1.9vw;
          position: absolute;
          top: 1.2vw;
          left: -60px;
          display: block; }
        #testimonials-wrapper #testimonials div.testimonial-wrapper .testimonial-text-wrapper .name {
          font-weight: 500;
          text-transform: uppercase; }
        #testimonials-wrapper #testimonials div.testimonial-wrapper .testimonial-text-wrapper p {
          font-size: 1.113vw; }

#blog-posts {
  margin-top: 8vw; }
  #blog-posts .posts-wrapper {
    display: flex;
    flex-direction: column;
    padding: 3vw 7vw;
    box-sizing: border-box;
    width: 100%; }
    #blog-posts .posts-wrapper .post {
      width: 100%;
      max-height: 25vw;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2.5vw;
      color: black; }
      #blog-posts .posts-wrapper .post img {
        width: 40%; }
      #blog-posts .posts-wrapper .post div.post-content {
        width: 57%; }
        #blog-posts .posts-wrapper .post div.post-content h4 {
          font-size: 1.65vw;
          font-family: 'Fjalla One', sans-serif;
          font-weight: 500;
          display: block;
          margin-bottom: 1.4vw; }
        #blog-posts .posts-wrapper .post div.post-content span {
          font-size: 1.65vw;
          font-family: 'Maven Pro', sans-serif;
          font-weight: 300;
          display: inline-block;
          position: relative;
          top: -1vw; }
        #blog-posts .posts-wrapper .post div.post-content p {
          font-family: 'Maven Pro', sans-serif;
          font-size: 1.39vw;
          margin-bottom: 1.5vw; }
        #blog-posts .posts-wrapper .post div.post-content a {
          display: inline-block;
          font-family: 'Fjalla One', sans-serif;
          width: 15vw;
          height: 3.5vw;
          background: black;
          color: white;
          text-align: center;
          font-size: 1.65vw;
          font-weight: 400;
          line-height: 3.5vw; }

#contact-area {
  z-index: 4;
  height: 40vw;
  margin: 2vw 0 0 0;
  background: url("../../img/homepage/jacek.jpg");
  background-size: cover; }
  #contact-area div.contact-shade {
    background: linear-gradient(to right, rgba(54, 88, 108, 0.9), rgba(14, 16, 50, 0.9));
    height: 100%;
    width: 100%;
    z-index: 3;
    display: flex;
    padding: 4vw 7vw 4vw 7vw;
    box-sizing: border-box; }
  #contact-area div.cta-wrapper {
    width: 45%;
    height: 100%;
    display: inline-block;
    color: white; }
    #contact-area div.cta-wrapper .section-title {
      margin: 0 0 1.4vh; }
    #contact-area div.cta-wrapper h4 {
      font-size: 2.09vw;
      font-family: 'Fjalla One', sans-serif;
      margin-bottom: 1vw; }
    #contact-area div.cta-wrapper h5 {
      font-size: 1.81vw;
      font-family: 'Maven Pro', sans-serif;
      margin-bottom: 1.5vw; }
    #contact-area div.cta-wrapper a {
      margin-bottom: 1.5vw;
      display: inline-block;
      font-family: 'Fjalla One', sans-serif;
      width: 75%;
      height: 6vw;
      background: white;
      color: black;
      text-align: center;
      font-size: 2.5vw;
      font-weight: 400;
      line-height: 6vw;
      text-transform: uppercase; }
  #contact-area .form-wrapper {
    width: 55%;
    height: 100%;
    display: inline-block;
    color: white; }
    #contact-area .form-wrapper h4 {
      font-size: 2.09vw;
      font-family: 'Fjalla One', sans-serif;
      margin-bottom: 1.5vw; }
    #contact-area .form-wrapper form .margin-right {
      margin-right: 3.7vw; }
    #contact-area .form-wrapper form ::placeholder {
      text-transform: capitalize;
      color: #8f94aa; }
    #contact-area .form-wrapper form input {
      width: 46%;
      background: transparent;
      padding: 1vw;
      font-size: 1.25vw;
      margin-bottom: 2vw;
      border: 1px solid white;
      color: white; }
    #contact-area .form-wrapper form textarea {
      width: 100%;
      background: transparent;
      padding: 1vw;
      font-size: 1.25vw;
      margin-bottom: 2vw;
      border: 1px solid white;
      color: white; }
    #contact-area .form-wrapper form .submit {
      display: inline-block;
      width: 15vw;
      height: 3.5vw;
      background: #3eb5a9;
      color: white;
      text-align: center;
      font-size: 1.65vw;
      font-weight: 400;
      font-family: 'Fjalla One', sans-serif;
      margin: 0;
      padding: 0;
      border: none; }
    #contact-area .form-wrapper .success-msg {
      display: none; }

#copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222222;
  color: white;
  height: 5vw; }
  #copyright p {
    margin: 0;
    font-weight: 400; }

.home .ctas {
  margin: 198px 0 0 0; }
  .home .ctas .ad1 img {
    position: relative;
    width: 100%;
    filter: grayscale(1);
    transition: all 500ms ease-in-out;
    background: white; }
  .home .ctas .ad1.active img {
    filter: grayscale(0); }

.our-services {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 13vh; }
  .our-services h3 {
    font-size: 30pt;
    font-family: 'Fjalla One', sans-serif;
    margin-bottom: 4vw; }
  .our-services .services-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; }
    .our-services .services-wrapper .service {
      width: 27%;
      display: flex;
      /* text-align: center; */
      height: 30vh;
      box-sizing: border-box;
      margin: 3vh 1vw;
      box-shadow: 0 0 20px #e0e0e0;
      justify-content: space-evenly;
      flex-direction: column;
      align-items: center;
      padding: 3vh 1vw; }
      .our-services .services-wrapper .service img {
        height: 30%; }
      .our-services .services-wrapper .service i#webDevelopment:after {
        content: '';
        background: url("../../img/Icons/services_icons/web-programming.png");
        background-size: contain;
        width: 0.7vw;
        height: 17px;
        margin-left: 3%;
        margin-top: 3%;
        position: absolute; }
      .our-services .services-wrapper .service i#appDevelopment:after {
        content: '';
        background: url("../../img/Icons/services_icons/application.png");
        background-size: contain;
        width: 10vw;
        height: 10vh;
        margin-left: 3%;
        margin-top: 3%;
        position: absolute; }
      .our-services .services-wrapper .service i#SEO:after {
        content: '';
        background: url("../../img/Icons/services_icons/seo.png");
        background-size: contain;
        width: 0.7vw;
        height: 17px;
        margin-left: 3%;
        margin-top: 3%;
        position: absolute; }
      .our-services .services-wrapper .service i#SMM:after {
        content: '';
        background: url("../../img/Icons/services_icons/social-media.png");
        background-size: contain;
        width: 0.7vw;
        height: 17px;
        margin-left: 3%;
        margin-top: 3%;
        position: absolute; }
      .our-services .services-wrapper .service i#DMS:after {
        content: '';
        background: url("../../img/Icons/services_icons/strategy.png");
        background-size: contain;
        width: 0.7vw;
        height: 17px;
        margin-left: 3%;
        margin-top: 3%;
        position: absolute; }
      .our-services .services-wrapper .service i#contentCreation:after {
        content: '';
        background: url("../../img/Icons/services_icons/copyright.png");
        background-size: contain;
        width: 0.7vw;
        height: 17px;
        margin-left: 3%;
        margin-top: 3%;
        position: absolute; }
      .our-services .services-wrapper .service i#brandCreation:after {
        content: '';
        background: url("../../img/Icons/services_icons/branding.png");
        background-size: contain;
        width: 0.7vw;
        height: 17px;
        margin-left: 3%;
        margin-top: 3%;
        position: absolute; }
      .our-services .services-wrapper .service i#websiteRenovation:after {
        content: '';
        background: url("../../img/Icons/services_icons/domain.png");
        background-size: contain;
        width: 0.7vw;
        height: 17px;
        margin-left: 3%;
        margin-top: 3%;
        position: absolute; }
      .our-services .services-wrapper .service i#mentoring:after {
        content: '';
        background: url("../../img/Icons/services_icons/business.png");
        background-size: contain;
        width: 0.7vw;
        height: 17px;
        margin-left: 3%;
        margin-top: 3%;
        position: absolute; }
      .our-services .services-wrapper .service a {
        font-family: 'Maven Pro', sans-serif;
        font-size: 1.65vw;
        top: 60%;
        text-align: center;
        margin: 0;
        text-indent: -5%;
        line-height: 1.5;
        cursor: pointer;
        color: black; }
      .our-services .services-wrapper .service a:hover {
        transform: none;
        color: unset; }
      .our-services .services-wrapper .service a:after {
        content: '';
        background: url("../../img/Icons/services_icons/right-arrow.png");
        background-size: contain;
        position: absolute;
        width: 0.7vw;
        height: 17px;
        margin-left: 0.9%;
        margin-top: 0.75%;
        background-repeat: no-repeat; }

.wip {
  width: 100%;
  background: #93f0ff;
  box-sizing: border-box;
  padding: 25px;
  margin: 5px auto;
  text-align: center;
  color: #375e64;
  font-size: 20pt; }

.client-cases {
  display: flex;
  justify-content: center;
  margin: 0 auto 25px;
  width: 98%;
  height: 265px; }
  .client-cases li {
    display: flex;
    width: 32%;
    margin-right: 1%;
    transition: all 500ms; }
    .client-cases li:last-child {
      margin-right: 0; }
    .client-cases li .desc {
      font-weight: bold;
      font-size: 16pt; }
      .client-cases li .desc p {
        font-weight: 100;
        font-size: 14pt; }
    .client-cases li .client-img {
      position: relative;
      width: 95%;
      margin: 0 15px 10px 0;
      max-width: 275px;
      min-height: 185px; }
      .client-cases li .client-img img {
        background: #333;
        border: 1px solid #111;
        outline: none;
        width: 100%;
        filter: grayscale(1);
        z-index: 1;
        position: relative; }
      .client-cases li .client-img:hover {
        cursor: pointer; }
        .client-cases li .client-img:hover img {
          filter: none; }
        .client-cases li .client-img:hover .vignette {
          opacity: 0.1; }
    .client-cases li .vignette {
      position: absolute;
      z-index: 10;
      left: 0;
      top: 0;
      width: 101%;
      height: 100%;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+68&0+0,1+67 */
      background: radial-gradient(ellipse at center, transparent 0%, black 85%);
      transition: opacity 0.5s ease-out; }
  .client-cases .slick-list {
    padding-left: 2vw; }

.band .wrapper .next-steps li.btn {
  margin: 0 0 15px; }
  .band .wrapper .next-steps li.btn h2, .band .wrapper .next-steps li.btn a {
    font-family: 'Permanent Marker', cursive;
    background: #fff;
    color: #0036bf; }
  .band .wrapper .next-steps li.btn a {
    display: block;
    font-size: 22pt;
    text-align: center;
    padding: 15px 20px; }

.services-page.website-development .web-dev a,
.services-page.appdev .appdev a,
.services-page.seo .seo a,
.services-page.smm .smm a,
.services-page.strategy .strategy a,
.services-page.copywriting .copywriting a,
.services-page.branding .branding a,
.services-page.mentoring .mentoring a,
.services-page.web-rennovation .rennovation a {
  background: #0036bf;
  color: #fff; }

.services-page .ctas {
  min-height: 200px;
  max-height: 300px; }

.services-page .in-page-nav {
  width: 20%;
  max-width: 250px;
  margin-left: 1%; }
  .services-page .in-page-nav li {
    margin: 0; }
    .services-page .in-page-nav li a {
      display: block;
      color: #333;
      padding: 7px; }

.services-page .content {
  width: 80%;
  border-left: 1px dotted #333;
  padding: 0 0 0 30px; }

.about-page .ctas {
  min-height: 200px;
  max-height: 300px; }

.about-page .content {
  width: 80%;
  border-left: 1px dotted #333;
  padding: 0 0 0 30px; }

.clients-page .page.wrapper {
  margin: 0;
  width: 100%;
  height: 100%; }

.clients-page .ctas {
  height: 300px; }

a {
  transition: all 250ms;
  font-size: 11pt;
  text-decoration: none; }

a:hover {
  transform: scale(1.1);
  color: #fff; }

@media only screen and (max-device-width: 415px) {
  section h3.section-title {
    font-size: 6vw; }
  section h3.section-title:after {
    bottom: -5px; }
  .container {
    overflow: hidden; }
    .container a:hover {
      transform: scale(1);
      color: #fff; }
    .container header {
      min-height: 50px; }
      .container header .wrapper {
        margin: 1vh auto;
        justify-content: center; }
      .container header .infoBar {
        justify-content: space-between;
        padding: .7vh 2vw .7vh; }
        .container header .infoBar .review-us {
          min-width: 225px;
          width: 55%; }
          .container header .infoBar .review-us span {
            font-size: 3vw; }
          .container header .infoBar .review-us ul {
            flex-direction: row;
            min-width: unset; }
            .container header .infoBar .review-us ul li a {
              font-size: 3vw; }
            .container header .infoBar .review-us ul .google {
              padding-right: 0.5vw;
              border-right: 1px dotted rgba(255, 255, 255, 0.5);
              border-bottom: none; }
            .container header .infoBar .review-us ul .next-door {
              margin-left: 0.5vw; }
        .container header .infoBar ul.links li {
          margin: 0 3vw 0 0; }
          .container header .infoBar ul.links li a {
            font-size: 3vw; }
      .container header .logo h1 {
        letter-spacing: -1px;
        font-size: 7vw;
        width: auto; }
        .container header .logo h1 span.tagline {
          font-size: 3.8vw; }
      .container header .nav-toggle {
        visibility: visible;
        font-size: 4.5vw;
        position: absolute;
        right: 4vw;
        color: #0036bf; }
        .container header .nav-toggle:hover {
          color: #0036bf;
          transform: scale(1); }
      .container header ul.nav {
        display: block;
        visibility: hidden;
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0; }
        .container header ul.nav li {
          margin: 0;
          border-bottom: 1px solid #fff; }
          .container header ul.nav li ul {
            display: none !important; }
          .container header ul.nav li a {
            display: block;
            background: #0036bf;
            color: #fff;
            padding: 2vh 0;
            box-sizing: border-box;
            text-align: center;
            font-size: 4vw; }
  .home .ctas {
    margin-top: 103px;
    height: auto; }
    .home .ctas .banner-text-wrapper {
      min-height: 350px; }
      .home .ctas .banner-text-wrapper .action {
        padding: 2vw 6.5vw;
        font-size: 5vw;
        margin: 2vh 0 0 0; }
      .home .ctas .banner-text-wrapper .arrow-cta {
        width: 6vw;
        height: 6vw;
        bottom: 13.5%; }
        .home .ctas .banner-text-wrapper .arrow-cta img {
          height: 2.5vw;
          width: 1.2vw; }
  .ctas .cta .banner-text-wrapper {
    text-align: center; }
  section.our-services {
    margin-top: 8vw; }
    section.our-services .services-wrapper {
      flex-direction: column; }
      section.our-services .services-wrapper div.service {
        width: 90%; }
        section.our-services .services-wrapper div.service img {
          height: 45%; }
        section.our-services .services-wrapper div.service a {
          font-size: 2.8vw; }
        section.our-services .services-wrapper div.service a:after {
          width: 2vw;
          height: 2.5vw; }
      section.our-services .services-wrapper div.service:last-child {
        width: 88%; }
  section.grey {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: unset; }
    section.grey div#cta2-text-wrapper {
      position: initial; }
    section.grey div {
      position: relative;
      height: auto;
      min-height: 280px;
      width: 95%; }
      section.grey div#cta2-image-wrapper img:nth-child(2) {
        position: absolute;
        left: 30%; }
      section.grey div .message {
        margin: 0 auto; }
        section.grey div .message h2 {
          font-size: 4.5vw;
          text-align: center; }
          section.grey div .message h2 span {
            display: inline; }
        section.grey div .message p {
          font-size: 3.5vw; }
        section.grey div .message a.read-more {
          font-size: 4vw;
          line-height: 3.8vw;
          display: block;
          width: auto;
          height: auto;
          padding: 2vh 0;
          margin: 1vh 0; }
  section#case-studies h3#case-studies-title {
    font-size: 4.5vw; }
  section#case-studies .case-studies-wrapper {
    flex-direction: unset;
    flex-wrap: unset;
    align-items: unset;
    justify-content: unset; }
    section#case-studies .case-studies-wrapper .case-link-wrapper {
      width: 100%;
      height: 100%; }
      section#case-studies .case-studies-wrapper .case-link-wrapper .case-study {
        width: 100%;
        height: 100%; }
        section#case-studies .case-studies-wrapper .case-link-wrapper .case-study h3.case-study-text {
          font-size: 3vw;
          font-weight: 500;
          top: -10vw; }
        section#case-studies .case-studies-wrapper .case-link-wrapper .case-study p {
          font-size: 1.8vw; }
  section#testimonials-wrapper h3 {
    font-size: 4.5vw; }
  section#testimonials-wrapper #testimonials {
    display: block;
    justify-content: unset;
    width: 89%;
    margin: 0 auto; }
    section#testimonials-wrapper #testimonials .testimonial-wrapper {
      width: 80%;
      margin: 0; }
      section#testimonials-wrapper #testimonials .testimonial-wrapper .testimonial-image-wrapper {
        width: 23.33%; }
        section#testimonials-wrapper #testimonials .testimonial-wrapper .testimonial-image-wrapper img.portrait {
          height: 7.5vw;
          width: 7.5vw;
          top: 30%; }
      section#testimonials-wrapper #testimonials .testimonial-wrapper .testimonial-text-wrapper {
        width: 76.65%; }
        section#testimonials-wrapper #testimonials .testimonial-wrapper .testimonial-text-wrapper img {
          height: 3vw;
          top: 10px;
          right: 0;
          left: -20px; }
        section#testimonials-wrapper #testimonials .testimonial-wrapper .testimonial-text-wrapper p {
          font-size: 1.5vw; }
    section#testimonials-wrapper #testimonials .testimonial-wrapper:last-child {
      display: none; }
  section#testimonials-wrapper .slick-dots li {
    margin: 0; }
    section#testimonials-wrapper .slick-dots li.slick-active button:before {
      opacity: 1;
      color: #0036bf; }
  section#blog-posts .posts-wrapper {
    padding: 5vw 7vw; }
    section#blog-posts .posts-wrapper .post {
      flex-direction: column;
      max-height: unset;
      margin-bottom: 3vh; }
      section#blog-posts .posts-wrapper .post img {
        width: 100%;
        margin-bottom: 3vw; }
      section#blog-posts .posts-wrapper .post .post-content {
        width: 100%; }
        section#blog-posts .posts-wrapper .post .post-content h4 {
          font-size: 4.5vw;
          color: #333;
          display: block;
          margin: 0 0 5px;
          line-height: 1.4; }
        section#blog-posts .posts-wrapper .post .post-content span {
          font-size: 3vh;
          margin-left: unset;
          top: 0;
          margin-bottom: 1vh; }
        section#blog-posts .posts-wrapper .post .post-content p {
          font-size: 2vh; }
        section#blog-posts .posts-wrapper .post .post-content a {
          height: unset;
          width: unset;
          line-height: unset;
          display: block;
          font-size: 4vw;
          padding: 1vh 0; }
  section#contact-area {
    height: unset; }
    section#contact-area div.contact-shade {
      padding: 4vw 7vw 2vw 7vw;
      flex-direction: column;
      align-items: center; }
      section#contact-area div.contact-shade div.cta-wrapper {
        width: 99%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 0 1vh; }
        section#contact-area div.contact-shade div.cta-wrapper h4 {
          font-size: 3.5vw; }
        section#contact-area div.contact-shade div.cta-wrapper h5 {
          font-size: 3vw; }
        section#contact-area div.contact-shade div.cta-wrapper a {
          display: block;
          width: 100%;
          height: auto;
          font-size: 2vh;
          padding: 1vh 0; }
      section#contact-area div.contact-shade .form-wrapper {
        width: 99%;
        margin-top: 1vh; }
        section#contact-area div.contact-shade .form-wrapper h3.section-title {
          margin: 0 0 2vh; }
        section#contact-area div.contact-shade .form-wrapper h4 {
          text-align: center; }
        section#contact-area div.contact-shade .form-wrapper form {
          display: flex;
          flex-direction: column;
          align-items: center; }
          section#contact-area div.contact-shade .form-wrapper form input {
            padding: 1vh 3vw;
            margin: 0vw 0 2vw 0;
            width: 100%;
            font-size: 2vh; }
          section#contact-area div.contact-shade .form-wrapper form input.submit {
            height: auto; }
    section#contact-area #copyright {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #222222;
      color: white;
      height: 5vw; }
      section#contact-area #copyright p {
        font-size: 2vw; }
  .home .client-cases {
    flex-direction: column;
    justify-content: space-between;
    height: 285px;
    margin: 0%; }
    .home .client-cases li {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-right: 0;
      list-style: none; }
      .home .client-cases li .client-img {
        width: 100%;
        margin: 0;
        max-width: 75vw; }
      .home .client-cases li .desc {
        font-size: 14pt;
        margin: 5px 0 15px;
        max-width: 275px; }
  .home .ctas .ad1 {
    background-position: 0 top;
    background-size: 100%; }
    .home .ctas .ad1 img {
      width: 175%; }
  .band .wrapper {
    width: 98%;
    display: block;
    margin: 30px auto 40px; }
    .band .wrapper.case-studies {
      display: flex;
      align-items: center;
      margin: 2vh auto; }
    .band .wrapper .message, .band .wrapper .graphic {
      width: 98%;
      display: block;
      margin: 0 auto; }
    .band .wrapper .graphic {
      margin: 10px auto; }
    .band .wrapper .message h2 {
      text-align: center;
      font-size: 26pt; }
    .band .wrapper .message h2 p {
      font-size: 23pt;
      margin-top: 4px; }
    .band .wrapper .next-steps li.btn a {
      padding: 5px 0; }
      .band .wrapper .next-steps li.btn a h2 {
        margin: 0; }
    .band .wrapper.band1 {
      padding: 0; }
      .band .wrapper.band1 .wrapper h2 {
        text-align: center; }
    .band .wrapper div.message p {
      text-align: center; }
  .band.band2 .wrapper {
    padding: 0;
    margin: 0 auto 55px; }
    .band.band2 .wrapper .graphic {
      max-width: 100%; }
    .band.band2 .wrapper .message h2 {
      font-size: 27pt; }
      .band.band2 .wrapper .message h2 span {
        display: none; }
      .band.band2 .wrapper .message h2 p {
        font-size: 22pt; }
  .band.band3 .wrapper {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .band.band3 .wrapper .message {
      margin-bottom: 20px; }
      .band.band3 .wrapper .message > h2 {
        display: none; }
    .band.band3 .wrapper .next-steps li {
      margin: 0 0 7px; }
  .band .read-more.btn {
    display: none; }
  .services-page .ctas {
    margin-bottom: 25px; }
  .services-page .content {
    width: 98%;
    border-left: none;
    padding: 0 15px;
    box-sizing: border-box; }
  .services-page .page.wrapper {
    display: block;
    width: 98%;
    margin: 0 auto; }
  .services-page .in-page-nav {
    width: 100%;
    margin: 0 auto 25px;
    display: block;
    text-align: center;
    border-bottom: 1px dotted #333;
    padding: 0 0 20px;
    max-width: none; }
  .page.wrapper h1 {
    font-size: 15pt; }
  .ctas .cta .message .highlight {
    padding: 2px 6px; }
  .band .quick-contact {
    margin: 50px auto 0;
    width: 98%;
    left: 1%; }
    .band .quick-contact.active {
      bottom: 30%; }
  .about-page .ctas, .services-page .ctas {
    height: 200px;
    margin-top: 17vw; }
    .about-page .ctas .cta img, .services-page .ctas .cta img {
      height: 100%;
      width: initial;
      margin-left: -500px; } }

@media only screen and (max-device-width: 321px) {
  header .logo {
    margin-top: 1.5vw; }
  .home .ctas .banner-text-wrapper {
    min-height: 300px; }
  .services-page .ctas {
    margin-top: 16vw; }
  .about-page .ctas, .services-page .ctas {
    margin-top: 16vw; } }
