
extends page.pug

block main-cta
  img(src="img/banners/about_510872512.jpg")

block page_content
  h1 Imperative Design 
    span | Your marketing department outsourced locally

  h2 Some Background
  p 
    | Founded in 2008, we have had the opportunity of working with some of the largetst comapnies and some of the coolest small businesses alike
    | in the metro Atlanta area. Our team has the experience and the scale to arm your small or medium sized business 
    | with the same tools and advantages that the biggest players in your cities use.

  h4 A little bit on how we are different
  p 
    | We are just like you. A small business. As such we treat our clients as people an understand their needs.
    | We take the time to understand your business, look for what opportunities you may be missing, and help you craft
    | and execute your plan. 

  p 
    | While business is good to have though, we believe in setting up our clients for success, not squeezing every dime we can 
    | get out of them like many marketing companies we run accross. We love doing on-going work for our clients, but a lot of the 
    | marketing work that goes on behind the scenes once a site is created isn't rocket science. It just takes a little time and 
    | a bit of explanation. So wether you want us to be your in-house marketing team, or just want us to set you up for success and then 
    | hand you the keys, we will make a solution that works best for your business and then be your go to support afterwards for any thing you need.
    | This is what makes us different. We create customer-centric solutions. That is why many of our clients end up becoming our friends.