section#contact-area
            div.contact-shade
                .contact-wrapper
                    div.cta-wrapper
                        h3.section-title YOU HAD ME AT HELLO
                        h5 NOW WHAT'S NEXT?
                        a(href="/insights/getting-started/") Get Started
                        a(href="tel:4703583559") Give us a call
                    section.form-wrapper
                        h3.section-title DROP US A LINE
                        p.success-msg Thanks for for dropping us a line! We'll be in touch soon.
                        form.quick-contact(onsubmit="tracker.send('event', {eventCategory: 'contact', eventAction: 'main_form_submission', eventLabel: 'footer contact form', eventValue: 10 });")
                            input.margin-right(type="text", placeholder="first name", required)
                            input(type="text", placeholder="last name")
                            input.margin-right(type="email", placeholder="email", required)
                            input(type="phone", placeholder="phone", required)
                            textarea(placeholder="Reason for writing", rows="7", required)
                            input.submit(type="submit")
            section#copyright
                p &copy; Copyright 2019. IMPERATIVE DESIGN. All Rights Reserved.