//- script(async,  src="https://www.googletagmanager.com/gtag/js?id=UA-30304370-2")
//- https://stackoverflow.com/questions/15744042/events-not-being-tracked-in-new-google-analytics-analytics-js-setup
script(async,  src="https://www.googletagmanager.com/gtag/js?id=UA-10395310-1")
script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-10395310-1');

    window.setTimeout(() => {
        if (typeof window['ga'] !== 'undefined') window['tracker'] = ga.getAll()[0];
    }, 1500)