header.group
    div.infoBar
        ul.links
            li.phone
                a(href="tel:6786175386")
                    i.fa.fa-phone
            li.email
                a(href="mailTo:sales@imperativedesign.net")
                    i.fa.fa-envelope
            li.twitter
                a(href="#")
                    i.fa.fa-twitter
            li.facebook
                a(href="https://www.facebook.com/imperativedesign/", target="_blank")
                    i.fa.fa-facebook
        .review-us
            span review us
            ul
                li.google
                    a(href="https://www.google.com/search?q=Imperative+design&ludocid=8267605069712759465&lsig=AB86z5Ue-G0FRbUUip0Giz59Iog5#fpstate=lie", target="_blank") on google
                li.next-door
                    a(href="https://nextdoor.com/pages/23172696/recommend/", target="_blank") or nextdoor
    .wrapper
        a(href="//imperativedesign.net").logo
            h1
                != '<span>Imperative</span> Design'
                span.tagline Elevate your messaging
        a.nav-toggle(href="#")
            i.fa.fa-bars
        include nav.pug  