header.group
    div.infoBar
        ul.links
            li.phone
                a(href="tel:6786175386")
                    i.fa.fa-phone
            li.email
                a(href="mailTo:sales@imperativedesign.net")
                    i.fa.fa-envelope
            li.twitter
                a(href="#")
                    i.fa.fa-twitter
            li.facebook
                a(href="#")
                    i.fa.fa-facebook
            li.instagram
                a(href="#")
                    i.fa.fa-instagram
        .review-us
            span review us
            ul
                li.google
                    a(href="#") on google
                li.next-door(href="#") 
                    a(href="#") or nextdoor
    .wrapper
        a(href="//imperativedesign.net").logo
            h1
                != '<span>Imperative</span> Design'
                span.tagline Elevate your messaging
        a.nav-toggle(href="#")
            i.fa.fa-bars
        include nav.pug  