//- index.pug
extends layout.pug

block content
        section.ctas
            div.ad1.cta.graphic-placeholder
                img(src='img/homepage/banner-pic.png')
                div.banner-text-wrapper
                    h2.message WHAT IF
                    h3.message YOU COULD CHOOSE YOU CUSTOMERS
                    h4.message intead of them choosing you
                    //- != 'What if <span class="highlight">you could choose your customers</span> intead of them choosing you?'
                    div.action
                        a(href="/services/search-engine-optimization") Read More
        //- section.wip WIP: Under construction ... so don't be a hater :p

        section.our-services
            h3 OUR SERVICES
            div.services-wrapper
                div.service
                    img(src='../img/Icons/services_icons/web-programming.png')
                    p Web Development
                div.service 
                    img(src='../img/Icons/services_icons/application.png')
                    //- i#appDevelopment
                    p App Development
                div.service 
                    img(src='../img/Icons/services_icons/seo.png')
                    //- i#SEO
                    p Search Engine Optimization
                div.service 
                    img(src='../img/Icons/services_icons/social-media.png')
                    //- i#SMM
                    p Social Media Marketing
                div.service 
                    img(src='../img/Icons/services_icons/strategy.png')
                    //- i#DMS
                    p Digital Marketing Strategy
                div.service 
                    img(src='../img/Icons/services_icons/copyright.png')
                    //- i#contentCreation
                    p Content Creation
                div.service 
                    img(src='../img/Icons/services_icons/branding.png')
                    //- i#brandCreation
                    p Brand Creation
                div.service 
                    img(src='../img/Icons/services_icons/domain.png')
                    //- i#websiteRenovation
                    p Website Renovation
                div.service 
                    img(src='../img/Icons/services_icons/business.png')
                    //- i#mentoring
                    p Mentoring
        section.grey
            div#grey-wrapper
                div.half-inline-block#cta2-image-wrapper
                    img.graphic.image(src="../img/homepage/austin-distel.jpg")                
                    img.graphic.image(src="../img/homepage/worn-dots.png")    
                div.half-inline-block#cta2-text-wrapper            
                    div.message
                        h2 What makes us 
                            span Different
                        p
                            | Learn if your marketing dollars are working 
                            | for you as hard as they can. Are you missing 
                            | out on valuable marketing verticals that can 
                            | connect you with a whole new audience?
                        a.read-more.btn(href="/services/search-engine-optimization") Read More
        //- section#contact.band.blue.band3
        //-     div.wrapper
        //-         div.message
        //-             .next-step-ctas
        //-                 h4 You had me at hello
        //-                 p Now what's next?
        //-                 ul.next-steps
        //-                     li.btn: a(href="/insights/getting-started/"): h2 Get Started
        //-                     li.btn.contact: a(href="tel:4703583559"): h2 give us a call
        //-                     li.social-icons
        //-             .quick-contact
        //-                 h4 drop us a line
        //-                 p.success-msg Thanks for for dropping us a line! We'll be in touch soon.
        //-                 form
        //-                     input(type="text", placeholder="first name", required)
        //-                     input(type="text", placeholder="last name")
        //-                     input(type="email", placeholder="email", required)
        //-                     input(type="phone", placeholder="phone", required)
        //-                     textarea(placeholder="Reason for writing", rows="7", required)
        //-                     input(type="submit")
