//- index.pug
extends layout.pug

block content
        section.ctas
            div.ad1.cta.graphic-placeholder
                //- img(src='img/homepage/banner-pic.png')
                div.banner-text-wrapper
                    h2.message WHAT IF
                    h3.message YOU COULD CHOOSE YOU CUSTOMERS
                    h4.message intead of them choosing you
                    //- != 'What if <span class="highlight">you could choose your customers</span> intead of them choosing you?'
                    div.action
                        a(href="/services/search-engine-optimization") Read More
                    div.arrow-cta
                        img(src='../img/Icons/down-arrow.png')
                    
        //- section.wip WIP: Under construction ... so don't be a hater :p

        section.our-services
            h3.section-title OUR SERVICES
            div.services-wrapper
                div.service
                    img(src='../img/Icons/services_icons/web-programming.png')
                    a(href="/services/website-development") Web Development
                div.service 
                    img(src='../img/Icons/services_icons/application.png')
                    //- i#appDevelopment
                    a(href="/services/application-development") App Development
                div.service 
                    img(src='../img/Icons/services_icons/seo.png')
                    //- i#SEO
                    a(href="/services/search-engine-optimization") Search Engine Optimization
                div.service 
                    img(src='../img/Icons/services_icons/social-media.png')
                    //- i#SMM
                    a(href="/services/social-media-marketing") Social Media Marketing
                div.service 
                    img(src='../img/Icons/services_icons/strategy.png')
                    //- i#DMS
                    a(href="/services/digital-marketing-strategy") Digital Marketing Strategy
                div.service 
                    img(src='../img/Icons/services_icons/copyright.png')
                    //- i#contentCreation
                    a(href="/services/copywriting") Content Creation
                div.service 
                    img(src='../img/Icons/services_icons/branding.png')
                    //- i#brandCreation
                    a(href="/services/branding") Brand Creation
                div.service 
                    img(src='../img/Icons/services_icons/domain.png')
                    //- i#websiteRenovation
                    a(href="/services/website-rennovation") Website Renovation
                div.service 
                    img(src='../img/Icons/services_icons/business.png')
                    //- i#mentoring
                    a(href="/services/mentoring") Mentoring
        section.grey
            div.half-inline-block#cta2-image-wrapper
                img.graphic.image.z3(src="../img/homepage/austin-distel-cropped.jpg")                
                img.graphic.image.z2#dots(src="../img/homepage/worn-dots.png")    
            div.half-inline-block#cta2-text-wrapper            
                div.message
                    h2 WHAT MAKES US 
                        br
                        span DIFFERENT
                    p
                        | We are just like you; A small business. As such we treat our clients as people 
                        | and understand their needs. We take the time to understand your business,
                        | look for what opportunities you may be missing, and help you craft and execute your plan.
                    a.read-more.btn(href="/services/search-engine-optimization") READ MORE
        section#case-studies
            h3#case-studies-title.section-title CLIENT CASE STUDIES
            div.case-studies-wrapper
                div.case-study.duluth-background.half-h-case.half-w.case-margin.overflow-hidden
                    div.case-overlay
                    h3.case-study-text DULUTH DINER
                    p.case-study-text Design / Development, Integrated Marketing Strategy
                    a(href="/insights/duluth-diner-design-development-integrated-marketing-strategy/")
                        img(src='../img/Icons/down-arrow-white.png')

                //- div.half-h-case.half-w.case-overlay
                div.case-study.active-care-background.half-h-case.half-w.overflow-hidden
                    div.case-overlay
                    h3.case-study-text ACTIVE CARE ATLANTA
                    p.case-study-text Design / Development, SEO, Content Strategy
                    a(href="/insights/active-care-atlanta-design-seo-content-strategy/")
                        img(src='../img/Icons/down-arrow-white.png')

                //- div.third-h-case.half-w.case-overlay.case-margin
                div.case-study.atlas-background.third-h-case.half-w.case-margin.overflow-hidden
                    div.case-overlay
                    h3.case-study-text ATLAS DESIGNS
                    p.case-study-text Design / Development, Digital Strategy
                    a(href="/insights/atlas-designs-design-digital-strategy/")
                        img(src='../img/Icons/down-arrow-white.png')

                //- div.third-h-case.half-w.case-overlay.case-margin
                div.case-study.four-gc-background.third-h-case.half-w.case-margin.overflow-hidden
                    div.case-overlay
                    h3.case-study-text 4GC CONSTRUCTION
                    p.case-study-text Design / Development
                    a(href="/insights/4gc-construction/")
                        img(src='../img/Icons/down-arrow-white.png')

                //- div.third-h-case.half-w.case-overlay
                div.case-study.green-fern-background.third-h-case.half-w.overflow-hidden
                    div.case-overlay
                    h3.case-study-text GREEN FERN TREE SERVICE
                    p.case-study-text Design, SEO
                    a(href="/insights/green-fern-tree-service/")
                        img(src='../img/Icons/down-arrow-white.png')

        section#testimonials-wrapper
            div#testimonials-bg-img
            h3.section-title CLIENT TESTIMONIALS
            div#testimonials
                div.testimonial-wrapper
                    div.testimonial-image-wrapper
                        img.portrait(src="../img/homepage/marius.jpg", alt="")
                        img.dots(src="../img/homepage/worn-dots-testimonials.png", alt="")
                    div.testimonial-text-wrapper
                        img(src="../img/Icons/left-quote-testimonials.png", alt="")
                        p Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum
                        p.name - John Doe, Los Angeles
                div.testimonial-wrapper
                    div.testimonial-image-wrapper
                        img.portrait(src="../img/homepage/marius.jpg", alt="")
                        img.dots(src="../img/homepage/worn-dots-testimonials.png", alt="")
                    div.testimonial-text-wrapper
                        img(src="../img/Icons/left-quote-testimonials.png", alt="")
                        p Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum
                        p.name - John Doe, Los Angeles
        
        section#blog-posts
            h3.section-title CHECK OUT OUR LATEST BLOG POSTS
            div.posts-wrapper
                div.post
                    img(src="../img/homepage/adel.jpg", alt="")
                    div.post-content
                        h4 FOLLOW THE MONEY 
                        span Is your plan working?
                        p 
                            | Learn if blah Learn if blah Learn if blah Learn if blah Learn if blah Learn if blah
                            | Learn if blah Learn if blah Learn if blah Learn if blah Learn if blah Learn if blah
                            | Learn if blah Learn if blah Learn if blah Learn if blah Learn if blah Learn if blah
                        a.read-more.btn(href="/services/search-engine-optimization") READ MORE

                div.post
                    img(src="../img/homepage/adel.jpg", alt="")
                    div.post-content
                        h4 REACH NEW HEIGHTS
                        span Learn new strategies 
                        p Learn if blah Learn if blah Learn if blah Learn if blah Learn if blah Learn if blah
                        a.read-more.btn(href="/services/search-engine-optimization") READ MORE
        section#contact-area
            div.contact-shade
                div.cta-wrapper
                    h4 YOU HAD ME AT HELLO
                    h5 NOW WHAT'S NEXT?
                    a(href="/insights/getting-started/") Get Started
                    a(href="tel:4703583559") Give us a call
                div.form-wrapper
                    h4 DROP US A LINE
                    p.success-msg Thanks for for dropping us a line! We'll be in touch soon.
                    form
                        input.margin-right(type="text", placeholder="first name", required)
                        input(type="text", placeholder="last name")
                        input.margin-right(type="email", placeholder="email", required)
                        input(type="phone", placeholder="phone", required)
                        textarea(placeholder="Reason for writing", rows="7", required)
                        input.submit(type="submit")
            section#copyright
                p &copy; Copyright 2019. IMPERATIVE DESIGN. All Rights Reserved.
        //- section#contact.band.blue.band3
        //-     div.wrapper
        //-         div.message
        //-             .next-step-ctas
        //-                 h4 You had me at hello
        //-                 p Now what's next?
        //-                 ul.next-steps
        //-                     li.btn: a(href="/insights/getting-started/"): h2 Get Started
        //-                     li.btn.contact: a(href="tel:4703583559"): h2 give us a call
        //-                     li.social-icons
        //-             .quick-contact
        //-                 h4 drop us a line
        //-                 p.success-msg Thanks for for dropping us a line! We'll be in touch soon.
        //-                 form
        //-                     input(type="text", placeholder="first name", required)
        //-                     input(type="text", placeholder="last name")
        //-                     input(type="email", placeholder="email", required)
        //-                     input(type="phone", placeholder="phone", required)
        //-                     textarea(placeholder="Reason for writing", rows="7", required)
        //-                     input(type="submit")
