//- index.pug
extends layout.pug

block content
        section.ctas
            div.ad1.cta.graphic-placeholder
                //- img(src='img/homepage/banner-pic.png')
                div.banner-text-wrapper
                    h2.message WHAT IF
                    h3.message YOU COULD CHOOSE YOU CUSTOMERS
                    h4.message intead of them choosing you
                    //- != 'What if <span class="highlight">you could choose your customers</span> intead of them choosing you?'
                    a.action(href="/services/search-engine-optimization") Read More
                    div.arrow-cta
                        img(src='../img/Icons/down-arrow.png')
                    
        //- section.wip WIP: Under construction ... so don't be a hater :p

        section.our-services
            h3.section-title OUR SERVICES
            div.services-wrapper
                div.service
                    img(src='../img/Icons/services_icons/web-programming.png')
                    a(href="/services/website-development") Web Development
                div.service 
                    img(src='../img/Icons/services_icons/application.png')
                    //- i#appDevelopment
                    a(href="/services/application-development") App Development
                div.service 
                    img(src='../img/Icons/services_icons/seo.png')
                    //- i#SEO
                    a(href="/services/search-engine-optimization") Search Engine Optimization
                div.service 
                    img(src='../img/Icons/services_icons/social-media.png')
                    //- i#SMM
                    a(href="/services/social-media-marketing") Social Media Marketing
                div.service 
                    img(src='../img/Icons/services_icons/strategy.png')
                    //- i#DMS
                    a(href="/services/digital-marketing-strategy") Digital Marketing Strategy
                div.service 
                    img(src='../img/Icons/services_icons/copyright.png')
                    //- i#contentCreation
                    a(href="/services/copywriting") Content Creation
                div.service 
                    img(src='../img/Icons/services_icons/branding.png')
                    //- i#brandCreation
                    a(href="/services/branding") Brand Creation
                div.service 
                    img(src='../img/Icons/services_icons/domain.png')
                    //- i#websiteRenovation
                    a(href="/services/website-rennovation") Website Renovation
                div.service 
                    img(src='../img/Icons/services_icons/business.png')
                    //- i#mentoring
                    a(href="/services/mentoring") Mentoring
        section.grey
            div.half-inline-block#cta2-image-wrapper
                img.graphic.image.z3(src="../img/homepage/austin-distel-cropped.jpg")                
                img.graphic.image.z2#dots(src="../img/homepage/worn-dots.png")    
            div.half-inline-block#cta2-text-wrapper            
                div.message
                    h2 WHAT MAKES US 
                        span DIFFERENT
                    p
                        | We are just like you; A small business. As such we treat our clients as people 
                        | and understand their needs. We take the time to understand your business,
                        | look for what opportunities you may be missing, and help you craft and execute your plan.
                    a.read-more.btn(href="/services/search-engine-optimization") READ MORE
        section#case-studies
            h3#case-studies-title.section-title CLIENT CASE STUDIES
            div.case-studies-wrapper
                a.case-link-wrapper(href="/insights/duluth-diner-design-development-integrated-marketing-strategy/")
                    div.case-study.duluth-background.half-h-case.half-w.case-margin.overflow-hidden
                        div.case-overlay
                        h3.case-study-text DULUTH DINER
                        p.case-study-text Design / Development, Integrated Marketing Strategy
                        img(src='../../../img/Icons/down-arrow-white.png' alt='../img/homepage/worn-dots.png')

                a.case-link-wrapper(href="/insights/active-care-atlanta-design-seo-content-strategy/")
                    div.case-study.active-care-background.half-h-case.half-w.overflow-hidden
                        div.case-overlay
                        h3.case-study-text ACTIVE CARE ATLANTA
                        p.case-study-text Design / Development, SEO, Content Strategy
                        img(src='../img/Icons/down-arrow-white.png')

                a.case-link-wrapper(href="/insights/atlas-designs-design-digital-strategy/")
                    div.case-study.atlas-background.third-h-case.half-w.case-margin.overflow-hidden
                        div.case-overlay
                        h3.case-study-text ATLAS DESIGNS
                        p.case-study-text Design / Development, Digital Strategy
                        img(src='../img/Icons/down-arrow-white.png')

                a.case-link-wrapper(href="/insights/4gc-construction/")
                    div.case-study.four-gc-background.third-h-case.half-w.case-margin.overflow-hidden
                        div.case-overlay
                        h3.case-study-text 4GC CONSTRUCTION
                        p.case-study-text Design / Development
                        img(src='../img/Icons/down-arrow-white.png')

                a.case-link-wrapper(href="/insights/green-fern-tree-service/")
                    div.case-study.green-fern-background.third-h-case.half-w.overflow-hidden
                        div.case-overlay
                        h3.case-study-text GREEN FERN TREE SERVICE
                        p.case-study-text Design, SEO
                        img(src='../img/Icons/down-arrow-white.png')

        section#testimonials-wrapper
            div#testimonials-bg-img
            h3.section-title CLIENT TESTIMONIALS
            div#testimonials
                div.testimonial-wrapper
                    div.testimonial-image-wrapper
                        img.portrait(src="../img/homepage/marius.jpg", alt="")
                    div.testimonial-text-wrapper
                        img(src="../img/Icons/left-quote-testimonials.png", alt="")
                        p Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum
                        p.name - John Doe, Los Angeles
                div.testimonial-wrapper
                    div.testimonial-image-wrapper
                        img.portrait(src="../img/homepage/marius.jpg", alt="")
                    div.testimonial-text-wrapper
                        img(src="../img/Icons/left-quote-testimonials.png", alt="")
                        p Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum
                        p.name - John Doe, Los Angeles
        
        section#blog-posts
            h3.section-title CHECK OUT OUR LATEST BLOG POSTS
            div.posts-wrapper
                div.post
                    img(src="https://texturex.com/wp-content/uploads/2018/03/chain-metal-texture-steel-8-links-chains-stock-photo-5-500x375.jpg", alt="../img/homepage/adel.jpg")
                    div.post-content
                        h4 TypeScript, Type Definitions, And Modular JavaScript In An Angular World 
                        span What does TS give me?
                        p 
                            | In the plainest terms, TypeScript is a way to provide strong typing to your JavaScript code.
                            | In other words, it enables you to create code that behaves predicably and consistently by making sure X variable
                            | is always the type of data you meant it to be.
                        a.read-more.btn(href="/insights/typescript-type-definitions-and-modular-javascript-in-an-angular-world/") READ MORE

                div.post
                    img(src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/BKWZJHXR57.jpg", alt="../img/homepage/adel.jpg")
                    div.post-content
                        h4 Event Binding With Delegated Events & Async Dom Manipulation
                        span The ABC's of event binding 
                        p In the olden days of jQuery there were a myriad of ways to bind events in the DOM. You had to take into account things like, is the element always present when the page loads, are things going to be added to the DOM dynamically, and so on. With those things to consider you had tons of options for binding events.
                        a.read-more.btn(href="/insights/event-binding-with-delegated-events-async-dom-manipulation/") READ MORE
        section#contact-area
            div.contact-shade
                .contact-wrapper
                    div.cta-wrapper
                        h3.section-title YOU HAD ME AT HELLO
                        h5 NOW WHAT'S NEXT?
                        a(href="/insights/getting-started/") Get Started
                        a(href="tel:4703583559") Give us a call
                    section.form-wrapper
                        h3.section-title DROP US A LINE
                        p.success-msg Thanks for for dropping us a line! We'll be in touch soon.
                        form.quick-contact
                            input.margin-right(type="text", placeholder="first name", required)
                            input(type="text", placeholder="last name")
                            input.margin-right(type="email", placeholder="email", required)
                            input(type="phone", placeholder="phone", required)
                            textarea(placeholder="Reason for writing", rows="7", required)
                            input.submit(type="submit")
            section#copyright
                p &copy; Copyright 2019. IMPERATIVE DESIGN. All Rights Reserved.
        //- section#contact.band.blue.band3
        //-     div.wrapper
        //-         div.message
        //-             .next-step-ctas
        //-                 h4 You had me at hello
        //-                 p Now what's next?
        //-                 ul.next-steps
        //-                     li.btn: a(href="/insights/getting-started/"): h2 Get Started
        //-                     li.btn.contact: a(href="tel:4703583559"): h2 give us a call
        //-                     li.social-icons
        //-             .quick-contact
        //-                 h4 drop us a line
        //-                 p.success-msg Thanks for for dropping us a line! We'll be in touch soon.
        //-                 form
        //-                     input(type="text", placeholder="first name", required)
        //-                     input(type="text", placeholder="last name")
        //-                     input(type="email", placeholder="email", required)
        //-                     input(type="phone", placeholder="phone", required)
        //-                     textarea(placeholder="Reason for writing", rows="7", required)
        //-                     input(type="submit")
