//- index.pug
extends layout.pug

block content
        section.ctas
            div.ad1.cta.graphic-placeholder
                //- img(src='img/homepage/banner-pic.png')
                div.banner-text-wrapper
                    h2.message WHAT IF
                    h3.message YOU COULD CHOOSE YOUR CUSTOMERS
                    h4.message instead of them choosing you
                    //- != 'What if <span class="highlight">you could choose your customers</span> intead of them choosing you?'
                    a.action(href="/services/search-engine-optimization") Read More
                    div.arrow-cta
                        img(src='../img/Icons/down-arrow.png')
                    
        //- section.wip WIP: Under construction ... so don't be a hater :p

        section.our-services
            h3.section-title OUR SERVICES
            div.services-wrapper
                div.service
                    img(src='../img/Icons/services_icons/web-programming.png')
                    a(href="/services/website-development") Web Development
                div.service 
                    img(src='../img/Icons/services_icons/application.png')
                    //- i#appDevelopment
                    a(href="/services/application-development") App Development
                div.service 
                    img(src='../img/Icons/services_icons/seo.png')
                    //- i#SEO
                    a(href="/services/search-engine-optimization") Search Engine Optimization
                div.service 
                    img(src='../img/Icons/services_icons/social-media.png')
                    //- i#SMM
                    a(href="/services/social-media-marketing") Social Media Marketing
                div.service 
                    img(src='../img/Icons/services_icons/strategy.png')
                    //- i#DMS
                    a(href="/services/digital-marketing-strategy") Digital Marketing Strategy
                div.service 
                    img(src='../img/Icons/services_icons/copyright.png')
                    //- i#contentCreation
                    a(href="/services/copywriting") Content Creation
                div.service 
                    img(src='../img/Icons/services_icons/branding.png')
                    //- i#brandCreation
                    a(href="/services/branding") Brand Creation
                div.service 
                    img(src='../img/Icons/services_icons/domain.png')
                    //- i#websiteRenovation
                    a(href="/services/website-rennovation") Website Renovation
                div.service 
                    img(src='../img/Icons/services_icons/business.png')
                    //- i#mentoring
                    a(href="/services/mentoring") Mentoring
        section.grey
            div.half-inline-block#cta2-image-wrapper
                img.graphic.image.z3(src="../img/homepage/austin-distel-cropped.jpg")                
                img.graphic.image.z2#dots(src="../img/homepage/worn-dots.png")    
            div.half-inline-block#cta2-text-wrapper            
                div.message
                    h2 WHAT MAKES US 
                        span DIFFERENT
                    p
                        | We are just like you; A small business. As such we treat our clients as people 
                        | and understand their needs. We take the time to understand your business,
                        | look for what opportunities you may be missing, and help you craft and execute your plan.
                    a.read-more.btn(href="/services/search-engine-optimization") READ MORE
        section#case-studies
            h3#case-studies-title.section-title CLIENT CASE STUDIES
            div.case-studies-wrapper
                a.case-link-wrapper(href="/insights/duluth-diner-design-development-integrated-marketing-strategy/")
                    div.case-study.duluth-background.half-h-case.half-w.case-margin.overflow-hidden
                        div.case-overlay
                        h3.case-study-text DULUTH DINER
                        p.case-study-text Design / Development, Integrated Marketing Strategy
                        img(src='../../../img/Icons/down-arrow-white.png' alt='../img/homepage/worn-dots.png')

                a.case-link-wrapper(href="/insights/active-care-atlanta-design-seo-content-strategy/")
                    div.case-study.active-care-background.half-h-case.half-w.overflow-hidden
                        div.case-overlay
                        h3.case-study-text ACTIVE CARE ATLANTA
                        p.case-study-text Design / Development, SEO, Content Strategy
                        img(src='../img/Icons/down-arrow-white.png')

                a.case-link-wrapper(href="/insights/atlas-designs-design-digital-strategy/")
                    div.case-study.atlas-background.third-h-case.half-w.case-margin.overflow-hidden
                        div.case-overlay
                        h3.case-study-text ATLAS DESIGNS
                        p.case-study-text Design / Development, Digital Strategy
                        img(src='../img/Icons/down-arrow-white.png')

                a.case-link-wrapper(href="/insights/4gc-construction/")
                    div.case-study.four-gc-background.third-h-case.half-w.case-margin.overflow-hidden
                        div.case-overlay
                        h3.case-study-text 4GC CONSTRUCTION
                        p.case-study-text Design / Development
                        img(src='../img/Icons/down-arrow-white.png')

                a.case-link-wrapper(href="/insights/green-fern-tree-service/")
                    div.case-study.green-fern-background.third-h-case.half-w.overflow-hidden
                        div.case-overlay
                        h3.case-study-text GREEN FERN TREE SERVICE
                        p.case-study-text Design, SEO
                        img(src='../img/Icons/down-arrow-white.png')

        section#testimonials-wrapper
            div#testimonials-bg-img
            h3.section-title CLIENT TESTIMONIALS
            div#testimonials
                div.testimonial-wrapper
                    div.testimonial-image-wrapper
                        img.portrait(src="../img/homepage/emil.jpg", alt="")
                    div.testimonial-text-wrapper
                        img(src="../img/Icons/left-quote-testimonials.png", alt="")
                        p 
                            | I needed help with my digital marketing because my previous marketing company ( kudzu.com ) 
                            | went out of business in November 2018 and was in desperate need of getting my company's name out there on the web. 
                            | I have a painting business and needed to advertise on google ASAP. I asked a few other painting  companies  where 
                            | they were getting there leads from and luckily I came across a company that referred me to Paul.  I was a little hesitant
                            |  at first but after seeing the other company's websites desinged by Paul &amp; Imperative Design and their setup on google,
                            | I had to give him a shot. Boy am I glad I did. Not only did he build my sight professionally but he also put me on google and 
                            | told me about all the different ways and options I could advertise on google, facebook, and Nextdoor. He gave me a lot of tools to work with to build my business 
                            | online. I'm forever grateful. He knows his stuff and knows what he's doing. Highly recommend him and his team. 
                            | Thank you Paul !
                            
                        p.name - Emil S. Prime painters llc 
                    .bottom-shade
                div.testimonial-wrapper
                    div.testimonial-image-wrapper
                        img.portrait(src="../img/homepage/erion.jpg", alt="")
                    div.testimonial-text-wrapper
                        img(src="../img/Icons/left-quote-testimonials.png", alt="")
                        p 
                            | We started working with Imperative Design years ago. Throught the years Paul and his team have designed and built several iterations of our site.
                            | It is clear from his attention to detail and the time he takes to craft a stratagey that really fits our business, that we are more than a project to him.
                            | It's nice to work with a company that genuinely cares about how your business is going to do, and they take the time to get it right. 

                        p.name - Erion Ziu, Duluth Diner
                    .bottom-shade
                div.testimonial-wrapper
                    div.testimonial-image-wrapper
                        img.portrait(src="../img/homepage/ben.jpg", alt="")
                    div.testimonial-text-wrapper
                        img(src="../img/Icons/left-quote-testimonials.png", alt="")
                        p 
                            | I met Paul through happenstance at a Starbucks one day and having my own development company myself we struck up a conversation.
                            | As it stands, that was an awesome stroke of serrendipity. We have collaborated now on multiple projects. Given that the projects that we 
                            | have collaborated on have had small room for error and high visibility, we are happy to be able to say Imperative Design puts out top
                            | notch work and quickly has demonstrated to us the wide breadth of knowledge they have when it comes to full-stack development. Wether it is
                            | WordPress, Angular, or NativeScript, Paul has always given us great ideas when we have chatted over a cup of coffee and discussed projects. 
                            
                        p.name - Ben Howerton, DevMethods
                    .bottom-shade
        
        section#blog-posts
            h3.section-title CHECK OUT OUR LATEST BLOG POSTS
            div.posts-wrapper
                div.post
                    img(src="https://texturex.com/wp-content/uploads/2018/03/chain-metal-texture-steel-8-links-chains-stock-photo-5-500x375.jpg", alt="../img/homepage/adel.jpg")
                    div.post-content
                        h4 TypeScript, Type Definitions, And Modular JavaScript In An Angular World 
                        span What does TS give me?
                        p 
                            | In the plainest terms, TypeScript is a way to provide strong typing to your JavaScript code.
                            | In other words, it enables you to create code that behaves predicably and consistently by making sure X variable
                            | is always the type of data you meant it to be.
                        a.read-more.btn(href="/insights/typescript-type-definitions-and-modular-javascript-in-an-angular-world/") READ MORE

                div.post
                    img(src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/BKWZJHXR57.jpg", alt="../img/homepage/adel.jpg")
                    div.post-content
                        h4 Event Binding With Delegated Events & Async Dom Manipulation
                        span The ABC's of event binding 
                        p In the olden days of jQuery there were a myriad of ways to bind events in the DOM. You had to take into account things like, is the element always present when the page loads, are things going to be added to the DOM dynamically, and so on. With those things to consider you had tons of options for binding events.
                        a.read-more.btn(href="/insights/event-binding-with-delegated-events-async-dom-manipulation/") READ MORE
        include contact