//- service_layout.pug
html
  head
    title Imperative Design | A Full Stop Web Shop
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    
    block styles
        link(rel="stylesheet", href="/styles/css/styles.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")

    body.page.services-page(class=sub_page)
        div.container
            include header.pug
            
        section.ctas
            .cta
                block main-cta
        .page.wrapper 
            ul.in-page-nav
                li.web-dev: a(href='/services/website-development') Web Development
                li.appdev: a(href='/services/application-development') Application Development
                li.seo: a(href='/services/search-engine-optimization') Search Engine Optimization ( SEO )
                li.smm: a(href='/services/social-media-marketing') Social Media Marketing
                li.strategy: a(href='/services/digital-marketing-strategy') Digital Marketing Strategy
                li.copywriting: a(href='/services/copywriting') Copywriting
                li.branding: a(href='/services/branding') Brand Creation
                li.rennovation: a(href='/services/website-rennovation') Website Rennovation
                li.mentoring: a(href='/services/mentoring') Mentoring

            section.content
                block page_content
            
            block bodyscripts
                script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
                script(src='/js/global.js')
        
        include contact
        //- Load Facebook SDK for JavaScript
        div#fb-root
        script.
            window.fbAsyncInit = function() {
                FB.init({
                    xfbml            : true,
                    version          : "v4.0"
                });
            };

            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));

        //Your customer chat code
        div.fb-customerchat(attribution="setup_tool", page_id="163143773718123", theme_color="#0036bf", logged_in_greeting="Hey thanks for getting in touch. What can we do for you?", logged_out_greeting="Hey thanks for getting in touch. What can we do for you?")

        include ga