
.band {
    overflow: hidden;
    .wrapper {
        width: 100%;
        margin: 20px auto;
        padding: 0 10px;
        display: flex;
        justify-content: space-between;

        .message {
            position: relative; 
            width: 60%;
            font-size: 18pt;
            margin-right: 10%;
            p { font-weight: 100; }
            & h2, h2 p { font-family: 'Permanent Marker', cursive; font-size: 29pt; }
            & h2 { 
                color: $blue;
                margin: 0 0 20px 0; 
                font-size: 27pt; 
            }
            h2 span { 
                color: #333; 
                font-weight: 100;
                font-size: 24pt;
            }
        }
    }

    &.blue { 
        color: #fff; 
        background: $blue;
        .message {
            h2 { color: #fff; }
        }
    }

    &.white { 
        .message {
            h2 p { background: $blue; color: #fff; }
        }
    }


    &.band1 {
        .wrapper {
            margin: 10px auto 0;
            padding: 0 20px;
            box-sizing: border-box;
            flex-direction: column;
            h2 { 
                font-family: 'Permanent Marker', cursive; 
                font-size: 22pt;
                margin: 7px 0 12px;
            }
        }
        .message { 
            p { font-weight: 100; }
            h2 p { margin-top: 2px; padding: 5px 0 5px 0px; text-align: center; }
        }
    }

    &.band2 {
        .wrapper > .read-more {
            max-width: 40%;
            max-height: 250px;
            margin: 0 5% 0 0;
            img { 
                width: 100%;
                margin: none;
                max-width: none;
                max-height: none;
            }
        }
    }

    &.band3 {
        display: flex;
        margin: 0 0 50px;
        width: 100%;

        .wrapper { 
            width: 100%;
            justify-content: space-around;
        }
        .message {
            margin-right: 0;
            width: 100%;
            display: flex;
            align-content: space-around;
            justify-content: space-around;

            h4 {
                font-family: 'Permanent Marker', cursive; 
                font-size: 33pt;
                margin: 0 0 15px 0;
            }
            
            p { 
                font-family: 'Roboto', sans-serif;
                font-weight: bold;
                border-bottom: 1px dotted;
                padding-bottom: 4px;
            }
        }
    }

    .read-more.btn {
        background: #4A4A4A;
        color: #fff;
        text-decoration: none;
        padding: 10px 20px;
        position: absolute;
        font-size: 10pt;
        bottom: 15px;
        right: 15px;
        line-height: 1;
        font-family: 'Open Sans', sans-serif;
    }

    .quick-contact {
        width: 40%;
        form {
            .close { font-size: 14pt; color: red; position: absolute; right: 20px; top: 5px; z-index: 115; &:hover { cursor: pointer; } }

            input, textarea {
                background: desaturate(darken($blue, 5%), 5%);
                width: 100%;
                margin: 0 0 7px;
                font-size: 12pt;
                padding: 10px;
                color: #fff;
                border: none;

                &:focus { outline: 2px solid $blue; }
                &[type='submit']{
                    background: #fff;
                    color: $blue;
                    border: none;
                    padding: 7px 0;
                    &:hover { cursor: pointer; }
                }
            }
        }
        .success-msg { display: none; }
    }
} 

section.grey {
    background: #f8f8f8;
    margin-top: 10%;
    max-height: 530px;
    div {height: 530px;}
    #grey-wrapper {
        width: 100%;
        margin: 0 auto;
    }
    #cta2-text-wrapper {
        position: absolute;
    }
    .message {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h2 {
            margin-bottom: 2vw;
            font-size: 32pt;
        }
        p{margin-bottom: 2vw;}
        span {
            font-weight: 500;
        }
        .read-more{
            display: inline-block;
            width: 15vw;
            height: 3.5vw;
            background: #3eb5a9;
            color: white;
            text-align: center;
            font-size: 18pt;
            font-weight: 400;
            line-height: 3.5vw;
            font-family: 'Fjalla One', sans-serif;
        }
    }
}

section h3.section-title {
    font-family: 'Fjalla One', sans-serif;
    font-size: 36pt;
    text-align: center;
    font-weight: 500;
}

#case-studies{
    height: 60vw;
    h3#case-studies-title {
        font-size: 36pt;
        text-align: center;
        font-weight: 500;
        margin-top: 11vw;
        margin-bottom: 4vw;
        display: block;
    }
    .case-study-text {
        position: relative;
        top: -7.5vw;
        padding: 0% 0 0 5%;
        color: white;
    }
    p.case-study-text {
        display: block;
        font-size: 18px;
        width: 55%;
        line-height: 1.3;
    }
    h3.case-study-text {
        font-size: 24px;
        font-weight: 500;
    }
    .case-studies-wrapper{
        div.case-study:hover a{
            opacity: 1;
        }
    }
    a {
        opacity: 0;
        transition: opacity 0.65s ease-in-out;
        img {
            position: relative;
            top: -12.5vw;
            left: 36vw;
            height: 15px;
            width: 30px;
            border: solid 2px white;
            padding: 18px 10px;
        }
    }
    .case-studies-wrapper {
        .duluth-background {
            background:url("../../img/clients/duluth_diner.png");
            background-size: cover;
        }
        .active-care-background {
            background:url("../../img/clients/active_care_atlanta.png");
            background-size: cover;
        }
        .atlas-background {
            background:url("../../img/clients/atlas_designs.png");
            background-size: cover;
        }
        .four-gc-background {
            background:url("../../img/clients/4gc.png");
            background-size: cover;
        }
        .green-fern-background{
            background:url("../../img/clients/greenfern.png");
            background-size: cover;
        }
        height: 69%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        padding: 0 7%;
        justify-content: center;
        .overflow-hidden {overflow: hidden;}
        .case-overlay{
            height: 100%;
            width: 100%;
            // background: linear-gradient(
            //     to right, 
            //     rgba(48, 110, 107, 0.7), rgba(14, 16, 50, 0.7)
            // );
            background: linear-gradient(to right, rgba(54, 88, 108, 0.8), rgba(14, 16, 50, 0.8));
            transition: .65s
        }
        div.case-study:hover .case-overlay{
            -moz-transform: translate(0px, 55%);
            -ms-transform: translate(0px, 55%);
            -o-transform: translate(0px, 55%);
            -webkit-transform: translate(0px, 55%);
            transform: translate(0px, 55%)
        } 
        div.third-h-case.case-study:hover .case-overlay{
            -moz-transform: translate(0px, 60%);
            -ms-transform: translate(0px, 60%);
            -o-transform: translate(0px, 60%);
            -webkit-transform: translate(0px, 60%);
            transform: translate(0px, 60%);
        }
        div.third-h-case {
            p.case-study-text {
                display: block;
                font-size: 14px;
                width: 60%;
                line-height: 1.3;
            }
            h3.case-study-text {
                font-size: 20px;
                font-weight: 500;
            }
            .case-study-text {
                position: relative;
                top: -8vh;
                padding: 0% 0 0 5%;
                color: white;
            }
            a img {
                position: relative;
                top: -8vw;
                left: 36vw;
                height: 8px;
                width: 24px;
                border: solid 2px white;
                padding: 14px 6px;
            }
        }
    }
}  

section {
    h3.section-title:after{
        background: none repeat scroll 0 0 #3eb5a9;
        bottom: -10px;
        content: "";
        display: block;
        height: 0.25vw;
        position: relative;
        width: 10vw;
        margin: 0 auto;
    }
}

@media only screen 
and (max-device-width : 1921px)
and (min-device-width : 1441px){
    #case-studies {
        .case-study-text {top: -4.5vw;}
        a { img { top: -8vw; } }
        .case-studies-wrapper {
            div.third-h-case.case-study {
                .case-study-text { top: -6vh; }
                a img { top: -6.2vw; }
            }
        }
    }
}

#testimonials-wrapper {
    margin-top: 10vw;
    height: 33vw;
    #testimonials-bg-img {
        background:url("../../img/homepage/testimonials-bg.png");
        background-size: cover;
        height: 30vw;
    }
    h3 {
        font-size: 36pt;
        text-align: center;
        font-weight: 500;
        position: relative;
        top: -22vw;
    }
    #testimonials {
        position: relative;
        height: 17vw;
        top: -18vw;
        display: flex;
        justify-content: center;
        div.testimonial-wrapper {
            background: white;
            color: #696969;
            box-shadow: 0 0 20px #e0e0e0;
            height: 100%;
            display: flex;
            width: 40%;
            margin: 0 1.5vw 0.5vw 1.5vw;
            .testimonial-image-wrapper {
                width: 33.33%;
                height: 100%;
                img.portrait {
                    height: 4.5vw;
                    width: 4.5vw;
                    z-index: 2;
                    position: relative;
                    top: 35%;
                    left: 30%;
                    border-radius: 700px;
                }
                img.dots {
                    width: 100%;
                    height: 100%;
                    top: -4.55vw;
                    bottom: 0;
                    position: relative;
                    z-index: 1;
                }
            }
            .testimonial-text-wrapper {
                width: 66.65%;
                padding: 2vw 1.6vw 0.8vw 0;
                img{
                    height: 1.9vw;
                    position: relative;
                    top: 1.2vw;
                    right: 3vw;
                    display: block;
                }
                .name {
                    font-weight: 500;
                    text-transform: uppercase;
                }
            }
        }
    }
}

#blog-posts {

    margin-top: 8vw;
    h3 {

    }
    .posts-wrapper {
        display: flex;
        flex-direction: column;
        padding: 3vw 7vw;
        box-sizing: border-box;
        width: 100%;
        .post {
            width: 80%;
            max-height: 25vw;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 2.5vw;
            color: black;
            img {
                width: 40%;
            }
            div.post-content {
                width: 57%;
                h4 {
                    font-size: 24px;
                    font-family: 'Fjalla One', sans-serif;
                    font-weight: 500;
                    display: inline-block;
                    margin-bottom: 1.4vw;
                }
                span {
                    font-size: 24px;
                    font-family: 'Maven Pro', sans-serif;
                    font-weight: 300;
                    display: inline-block;
                    position: relative;
                    top: -0.1vw;
                    margin-left: 0.5vw;
                }
                p {
                    font-family: 'Maven Pro', sans-serif;
                    font-size: 20px;
                    margin-bottom: 1.5vw;
                }
                a {
                    display: inline-block;
                    font-family: 'Fjalla One', sans-serif;
                    width: 15vw;
                    height: 3.5vw;
                    background: black;
                    color: white;
                    text-align: center;
                    font-size: 18pt;
                    font-weight: 400;
                    line-height: 3.5vw;
                }
            }
        }
    }
}

#contact-area {
    z-index: 4;
    height: 40vw;
    margin: 2vw 0 0 0;
    background:url("../../img/homepage/jacek.jpg");
    background-size: cover;
    div.contact-shade {
        background: linear-gradient(to right, rgba(54, 88, 108, 0.9), rgba(14, 16, 50, 0.9));
        height: 100%;
        width: 100%;
        z-index: 3;
        display: flex;
        padding: 4vw 7vw 4vw 7vw;
        box-sizing: border-box;
        // padding: 2vw 5vw;
    }
    div.cta-wrapper {
        width: 45%;
        height: 100%;
        display: inline-block;
        color: white;
        h4 {
            font-size: 30px;
            font-family: 'Fjalla One', sans-serif;
            margin-bottom: 1vw
        }
        h5 {
            font-size: 26px;
            font-family: 'Maven Pro', sans-serif;
            margin-bottom: 1.5vw
        }
        a {
            margin-bottom: 1.5vw;
            display: inline-block;
            font-family: 'Fjalla One', sans-serif;
            width: 75%;
            height: 6vw;
            background: white;
            color: black;
            text-align: center;
            font-size: 36px;
            font-weight: 400;
            line-height: 6vw;
            text-transform: uppercase;
        }
    }
    div.form-wrapper {
        width: 55%;
        height: 100%;
        display: inline-block;
        color: white;
        h4 {
            font-size: 30px;
            font-family: 'Fjalla One', sans-serif;
            margin-bottom: 1.5vw
        }
        form {
            .margin-right {
                margin-right: 3.7vw;
            }
            ::placeholder {
                text-transform: capitalize;
                color: #8f94aa;
            }
            input {
                width: 46%;
                background: transparent;
                padding: 1vw;
                font-size: 18px;
                margin-bottom: 2vw;
                border: 1px solid white;
                color: white;
            }
            textarea{
                width: 100%;
                background: transparent;
                padding: 1vw;
                font-size: 18px;
                margin-bottom: 2vw;
                border: 1px solid white;
                color: white;
            }
            .submit {
                display: inline-block;
                width: 15vw;
                height: 3.5vw;
                background: #3eb5a9;
                color: white;
                text-align: center;
                font-size: 18pt;
                font-weight: 400;
                font-family: 'Fjalla One', sans-serif;
                margin: 0;
                padding: 0;
                border: none;
            }
        }
        // form {
        //     .close { font-size: 14pt; color: red; position: absolute; right: 20px; top: 5px; z-index: 115; &:hover { cursor: pointer; } }

        //     input, textarea {
        //         background: desaturate(darken($blue, 5%), 5%);
        //         width: 100%;
        //         margin: 0 0 7px;
        //         font-size: 12pt;
        //         padding: 10px;
        //         color: #fff;
        //         border: none;

        //         &:focus { outline: 2px solid $blue; }
        //         &[type='submit']{
        //             background: #fff;
        //             color: $blue;
        //             border: none;
        //             padding: 7px 0;
        //             &:hover { cursor: pointer; }
        //         }
        //     }
        // }
        .success-msg { display: none; }
    }
}

#copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222222;
    color: white;
    height: 5vw;
    p {
        margin: 0;
        font-weight: 400;
    }
}

.home .ctas { 
    margin: 10% 0 0 0;
    .ad1 {
        img { 
            position: relative;
            width: 100%;
            filter: grayscale(1);
            transition: all 500ms ease-in-out;
            background: white;
        }
        &.active img { filter: grayscale(0); }
    }
}

.our-services {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 13vh;
    h3 {
        font-size: 30pt;
        font-family: 'Fjalla One', sans-serif;
        margin-bottom: 4vw;
    }
    .services-wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        .service {
            width: 27%;
            display: flex;
            /* text-align: center; */
            height: 30vh;
            box-sizing: border-box;
            margin: 3vh 1vw;
            box-shadow: 0 0 20px #e0e0e0;
            justify-content: space-evenly;
            flex-direction: column;
            align-items: center;
            padding: 3vh 1vw;
            img {
                height: 30%;
            }
            i#webDevelopment:after {
                content: '';
                background:url('../../img/Icons/services_icons/web-programming.png');
                background-size:contain;
                width: 0.7vw;
                height: 17px;
                margin-left: 3%;
                margin-top: 3%;
                position: absolute;
            }
            i#appDevelopment:after {
                content: '';
                background:url('../../img/Icons/services_icons/application.png');
                background-size:contain;
                width: 10vw;
                height: 10vh;
                margin-left: 3%;
                margin-top: 3%;
                position: absolute;
            }
            i#SEO:after {
                content: '';
                background:url('../../img/Icons/services_icons/seo.png');
                background-size:contain;
                width: 0.7vw;
                height: 17px;
                margin-left: 3%;
                margin-top: 3%;
                position: absolute;
            }
            i#SMM:after {
                content: '';
                background:url('../../img/Icons/services_icons/social-media.png');
                background-size:contain;
                width: 0.7vw;
                height: 17px;
                margin-left: 3%;
                margin-top: 3%;
                position: absolute;
            }
            i#DMS:after {
                content: '';
                background:url('../../img/Icons/services_icons/strategy.png');
                background-size:contain;
                width: 0.7vw;
                height: 17px;
                margin-left: 3%;
                margin-top: 3%;
                position: absolute;
            }
            i#contentCreation:after {
                content: '';
                background:url('../../img/Icons/services_icons/copyright.png');
                background-size:contain;
                width: 0.7vw;
                height: 17px;
                margin-left: 3%;
                margin-top: 3%;
                position: absolute;
            }
            i#brandCreation:after {
                content: '';
                background:url('../../img/Icons/services_icons/branding.png');
                background-size:contain;
                width: 0.7vw;
                height: 17px;
                margin-left: 3%;
                margin-top: 3%;
                position: absolute;
            }
            i#websiteRenovation:after {
                content: '';
                background:url('../../img/Icons/services_icons/domain.png');
                background-size:contain;
                width: 0.7vw;
                height: 17px;
                margin-left: 3%;
                margin-top: 3%;
                position: absolute;
            }
            i#mentoring:after {
                content: '';
                background:url('../../img/Icons/services_icons/business.png');
                background-size:contain;
                width: 0.7vw;
                height: 17px;
                margin-left: 3%;
                margin-top: 3%;
                position: absolute;
            }
            a {
                font-family: 'Maven Pro', sans-serif;
                font-size: 18pt;
                top: 60%;
                // position: relative;
                margin: 0;
                text-indent: -5%;
                line-height: 1.5;
                cursor: pointer;
                color: black;
            }
            a:hover {
                transform: none;
                color: unset;
            }
            a:after {
                content: '';
                background:url('../../img/Icons/services_icons/right-arrow.png');
                background-size:contain;
                position:absolute;
                width: 0.7vw;
                height: 17px;
                margin-left: 0.9%;
                margin-top: 0.75%;
                background-repeat: no-repeat;
            }
        }
    }
}

.wip {
    width: 100%;
    background: #93f0ff;
    box-sizing: border-box;
    padding: 25px;
    margin: 5px auto; 
    text-align: center;
    color: #375e64;
    font-size: 20pt;
}

.client-cases {
    display: flex;
    justify-content: center;
    margin: 0 auto 25px;
    width: 98%;
    height: 265px;
    li {
        display: flex;
        width: 32%;
        margin-right: 1%;
        transition: all 500ms;
        &:last-child { margin-right: 0; }
        .desc {
            font-weight: bold;
            font-size: 16pt;
            p { font-weight: 100; font-size: 14pt; }
        }

        .client-img {
            position: relative;
            width: 95%;
            margin: 0 15px 10px 0;
            max-width: 275px;
            min-height: 185px;
            img {
                background: #333;
                border: 1px solid #111;
                outline: none;
                width: 100%;
                filter: grayscale(1);
                z-index: 1;
                position: relative;
            }
            &:hover {
                cursor: pointer;
                img { filter: none; }
                .vignette {opacity: 0.1;}
                // .vignette { background: radial-gradient(ellipse at center, transparent 100%, black 85%); }
            }
        }

        .vignette {
            position: absolute;
            z-index: 10;
            left: 0;
            top: 0;
            width: 101%;
            height: 100%;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+68&0+0,1+67 */
            //background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 67%, rgba(0,0,0,1) 68%); /* FF3.6-15 */
            //background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 67%,rgba(0,0,0,1) 68%); /* Chrome10-25,Safari5.1-6 */
            //background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 67%,rgba(0,0,0,1) 68%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            background: radial-gradient(ellipse at center, transparent 0%, black 85%);
            transition: opacity 0.5s ease-out;
            //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        }
    }
    .slick-list { padding-left: 2vw; }
}

.band .wrapper .next-steps {
     li.btn {
        margin: 0 0 15px;
        h2, a {
            font-family: 'Permanent Marker', cursive; 
            background: #fff;
            color: $blue;
        }

        a { 
            display: block; 
            font-size: 22pt; 
            text-align: center; 
            padding: 15px 20px;
        }
    }
    //li a { color: #fff; font-size: 15pt; display: block; 
}