
//Larger Phones
@media only screen 
and (max-device-width : 415px){ 
  
  section h3.section-title:after {
    bottom: -5px;
  }
  .container{
    // disable image grow on mobile
    a:hover {
      transform: scale(1);
      color: #fff;
    }
    overflow: hidden;
    header {
        min-height: 50px;

        .wrapper { margin: 1vh auto; }
        .infoBar {
          .review-us {
            min-width: unset;
            width: 30vw;
            ul {
              flex-direction: row;
              min-width: unset;
              li {
                a {
                  font-size: 1.5vw;
                }
              }
              .google {
                padding-right: 0.5vw;
                border-right: 1px dotted rgba(255, 255, 255, 0.5);
                border-bottom: none;
              }
              .next-door {
                margin-left: 0.5vw;
              }
            }
          }
          ul.links {
            li {
              margin: 0 3vw 0 0;
              a{ font-size: 2vw;}
            }
          }
        }

        .logo {
            h1 {letter-spacing: -1px;}
        }

        .nav-toggle { 
            visibility: visible;
            font-size: 4.5vw;
            &:hover { color: $blue; transform: scale(1); }
        }

        ul.nav {
            display: block;
            visibility: hidden;
            position: absolute;
            width: 100%;
            top: 100%;
            left: 0;

            li {
                margin: 0;
                border-bottom: 1px solid #fff;
                // don't show sub menu on mobile
                ul {
                  display: none !important;
                }
                a {
                    display: block;
                    background: $blue;
                    color: #fff;
                    padding: 15px 20px;
                    box-sizing: border-box;
                }
            }
        }
    }
  }
  .home .ctas { 
    margin-top: 17vw;
    height: auto;
    .banner-text-wrapper {
      min-height: 350px;
      .action {
        padding: 2vw 6.5vw;
      }
      .arrow-cta {
        width: 6vw;
        height: 6vw;
        bottom: 13.5%;
        img {
          height: 2.5vw;
          width: 1.2vw;
        }
      }
    }
  }

  .ctas .cta .banner-text-wrapper { text-align: center;}

  section.our-services {
    margin-top: 8vw;
    .services-wrapper{
      div.service{
        height: 30vw;
        width: 43%;
        img {
          height: 45%;
        }
        a {
          font-size: 2.8vw;
        }
        a:after {
          width: 2vw;
          height: 2.5vw;
        }
      }
      div.service:last-child{width: 88%;}
    }
  }

  section.grey {
    div {
      height: 170px;
      .message{
        h2 {
          font-size: 3.55vw;
        }
        p { font-size: 1.40vw; }
        a.read-more { font-size: 1.8vw; line-height: 3.8vw; }
      }
    }
  }

  section#case-studies {
    .case-studies-wrapper {
      flex-direction: unset;
      flex-wrap: unset;
      align-items: unset;
      justify-content: unset;
      .case-link-wrapper {
        width: 100%;
        height: 100%;
        .case-study {
          width: 100%;
          height: 100%;
          h3.case-study-text {
            font-size: 3vw;
            font-weight: 500;
            top: -10vw;
          }
          p {
            font-size: 1.8vw;
          }
        }
      }
    }
  }

  section#testimonials-wrapper {
    #testimonials {
      display: block;
      justify-content: unset;
      width: 89%;
      margin: 0 auto;
      .testimonial-wrapper {
        width: 80%;
        margin: 0;
        .testimonial-image-wrapper {
          width: 23.33%;
          img.portrait {
            height: 7.5vw;
            width: 7.5vw;
            top: 30%;
          }
        }
        .testimonial-text-wrapper {
          width: 76.65%;
          img {
            height: 3vw;
            top: 1.8vw;
            right: 4.5vw;
          }
          p{
            font-size: 1.5vw;
          }
        }
      }
      .testimonial-wrapper:last-child{
        display: none;
      }
    }
  }

  section#blog-posts {
    margin-top: 15vw;
    .posts-wrapper {
      padding: 5vw 7vw;
      // flex-direction: row;

      .post {
        flex-direction: column;
        max-height: unset;
        margin-bottom: 3vw;
        img { 
          width: 100%;
          margin-bottom: 3vw;
        }
        .post-content { 
          width: 100%;
          h4 {
            font-size: 2.5vw;
            display: block;
            margin: 0;
          }
          span { 
            font-size: 2.5vw; 
            margin-left: unset; 
            top: 0;
            margin-bottom: 1vw;
          }
          p { font-size: 1.65vw; }
        }
      }
    }
  }

  section#contact-area {
    height: unset;
    div.contact-shade{
      padding: 4vw 7vw 2vw 7vw;
      flex-direction: column;
      align-items: center;
      div.cta-wrapper{
        width: 99%;
        display: flex;
        flex-direction: column;
        align-items: center;
        h4 {
          font-size: 3.5vw;
        }
        h5 { font-size: 3vw;}
        a { width: 60%; max-width: 220px;}
      }
      div.form-wrapper {
        h4 { text-align: center; }
        width: 99%;
        margin-top: 1vh;
        form {
          display: flex;
          flex-direction: column;
          align-items: center;
          input {
            margin: 0vw 0 2vw 0;
            width: 100%;
          }
          input.submit { width:40%; }
        }
      }
    }
    #copyright {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #222222;
      color: white;
      height: 5vw;
      p { font-size: 2vw; }
    }
  }

    .home .client-cases {
      flex-direction: column;
      justify-content: space-between;
      height: 285px;
      margin: 0%;

      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-right: 0;
        list-style: none;
        .client-img { 
          width: 100%; 
          margin: 0; 
          max-width: 75vw;
        }
        .desc {
          font-size: 14pt;
          margin: 5px 0 15px;
          max-width: 275px;
        }
      }
    }


    .home .ctas .ad1 { 
        background-position: 0 top;
        background-size: 100%;
        img {
          width: 175%;
        }
    }

    .band {
        .wrapper {
            width: 98%;
            display: block;
            margin: 30px auto 40px;
            &.case-studies{
              display: flex;
              align-items: center;
              margin: 2vh auto;
            }
            .message, .graphic { width: 98%; display: block; margin: 0 auto; }
            .graphic { margin: 10px auto; }
            .message h2 { text-align: center; font-size: 26pt; }
            .message h2 p { font-size: 23pt; margin-top: 4px; }
            .next-steps li.btn a { 
              padding: 5px 0;
              h2 { margin: 0; }
            }
            &.band1 { 
              padding: 0; 
              .wrapper h2 { text-align: center; }
            }
            div.message p {
              text-align: center;
            }
        }
        
        &.band2 .wrapper {
          padding: 0;
          margin: 0 auto 55px;
          .graphic { max-width: 100%; }
          .message h2 { 
            font-size: 27pt;
            span { display: none; }
            p { font-size: 22pt; }
          }
        }
        
        &.band3 .wrapper {
          width: 95%;
          display: flex;
          flex-direction: column;
          align-items: center;
          .message { 
            margin-bottom: 20px;
            & > h2 { display: none; }
          }
          .next-steps {
            li { margin: 0 0 7px; }
          }
        }

        .read-more.btn { display: none; }
    }

    .services-page {
        .ctas { margin-bottom: 25px; }
        .content {
            width: 98%;
            border-left: none;
            padding: 0 15px;
            box-sizing: border-box;
        }
        .page.wrapper {
            display: block;
            width: 98%;
            margin: 0 auto;
        }
        .in-page-nav { 
          width: 100%; 
          margin: 0 auto 25px;
          display: block;
          text-align: center;
          border-bottom: 1px dotted #333;
          padding: 0 0 20px;
          max-width: none;
        }
    }

    .page.wrapper h1 { font-size: 15pt; }
    .ctas .cta .message .highlight {
        padding: 2px 6px;
    }

    .band .quick-contact {
      margin: 50px auto 0;
      width: 98%;
      left: 1%;
      &.active { bottom: 30%; }
    }

    .about-page, .services-page {
      .ctas { 
        height: 200px;
        margin-top: 17vw;
        // margin-top: 150px; 
        .cta img { height: 100%; width: initial; margin-left: -500px; }
      }
    }
}

@media only screen and (max-device-width: 321px) {
  header {
    .logo {
      margin-top: 1.5vw;
    }
  }
  .home .ctas { 
    .banner-text-wrapper { min-height: 300px; }
  }
  .services-page .ctas {
    margin-top: 16vw;
  }
  .about-page .ctas, .services-page .ctas {
    margin-top: 16vw;
  }
}
