
header {
    position: fixed;
    background: rgba(255,255,255, .9);
    // padding: 0 0 2.5vh;
    margin: 0px;
    z-index: 11;
    width: 100%;
    min-height: 198px;
    // max-width: 1500px;
    box-sizing: border-box;
    opacity: 1;
    border-bottom: 1px solid #fff;
    box-shadow: 0px 0px 1px rgba(0,0,0,.3);
    .nav-toggle { visibility: hidden; }
    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        margin: 3vh auto;
        box-sizing: border-box;
    }

    .logo { 
        text-decoration: none; 
        color: #000;
        margin: 10px 0 0px;
        &:hover { color: #000; }
    }
    h1 {
        font-family: 'Fjalla One', sans-serif;
        font-size: 3.88vw;
        text-transform: uppercase;
        width: 26vw;
        letter-spacing: -4px;
        line-height: 0.9;
        span:first-child {font-family: 'Fjalla One', sans-serif; color: $blue; line-height: 0.9; }
        span.tagline {
            display: block;
            font-family: 'Permanent Marker', cursive;
            font-size: 2.15vw;
            line-height: 0.9;
        }
    }

    ul.nav {
        display: flex;
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        z-index: 50;
        justify-content: space-between;
        min-width: 285px;
        width: 19.7vw;
        li {
            position: relative;

            a { 
                text-decoration: none;
                color: #333;
                font-size: 1.65vw;
                font-weight: 100;
                border-bottom: 1px solid transparent;
                display: block;
                font-family: 'Fjalla One', sans-serif;
                text-transform: uppercase;
                &:last-child { margin-right: 0; }
                &:hover { color: #000; border-color: #3eb5a9; }
            }
            
            &.dropdown ul {
                position: absolute;
                width: 325px;
                left: -110px;
                display: none;

                li {
                    &:first-child { padding-top: 10px; }
                    &:last-child a { padding-bottom: 15px; }
                    a { 
                        font-size: 1.3vw;
                        background: rgba(255, 255, 255, .95);
                        display: block;
                        text-align: center;
                        padding: 7px;
                        box-sizing: border-box;
                        &:hover { 
                            border-color: transparent; 
                            transform: none;
                            background: #3eb5a9;
                            color: #fff;
                            font-weight: 400;
                        }
                    }
                }
            }
            &.dropdown:hover ul { display: block; }
            
            &.get_in_touch a {
                font-size: 12pt;
                display: inline-block;
                background: #0036bf;
                color: #fff;
                padding: 0 20px;
                margin: 0;
                &:hover { transform: none; border: none; }
            }
        }
    }
}

@media only screen 
and (max-device-width : 1439px)
and (min-device-width : 1023px){
    body {
        background: green !important;
    }
    header.group {
        min-height: 150px;
    }
    .home section.ctas {
        margin: 150px 0 0 0;
    }
}

@media only screen 
and (max-device-width : 1921px)
and (min-device-width : 1441px){
    header.group {
        min-height: 198px;
    }
    .home section.ctas {
        margin: 250px 0 0 0;
    }
}

.container {
    // max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    .infoBar {  
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        margin: 0px;
        padding: .7vh 1vw .7vh;
        z-index: 12;
        box-sizing: border-box;
        background-color: black;
        p { 
            color: white;
            margin: 0 6.5vw 0 0.5vw;
            font-weight: 500;
            font-family: 'Maven Pro', sans-serif;
            font-size: 18px;
        }
        .links {
            display: flex;
            li {
                margin: 0 1vw 0 0;
                a {
                    display: block;
                    color: #fff;
                    font-size: 1.2vw;
                }
            }
        }

        .review-us {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 17%;
            min-width: 280px;
            margin-left: 2.5%;
            color: #fff;
            span {
                margin: 0 2% 0 0;
                text-transform: uppercase;
                font-size: 2vw;
            }
            ul { 
                display: flex;
                flex-direction: column;
                min-width: 95px;
                li {
                    &.google {
                        border-bottom: 1px dotted rgba(255,255,255,.5);
                        a:hover {
                            background: #fc524f;
                        }
                    }
                    &.next-door {
                        a:hover {
                            background: #00B246;
                        }
                    }
                    a {
                        display: block;
                        padding: 5px 5%;
                        color: #fff;
                        text-transform: capitalize;
                    }
                
                }
            }
        }
    }
}

//Active Nav State
// .services-page .nav li.services > a, 
// .about-page .nav li.about > a,
// .insights-page .nav li.insights > a { color: #000; border-color: $blue; }